<div mat-dialog-content>
    <form [formGroup]="cutOffform" (ngSubmit)="onSubmit()">
        <mat-tab-group
            mat-align-tabs="center"
            [(selectedIndex)]="selectedIndex"
        >
            <mat-tab
                formArrayName="category"
                class="mb-20 separator"
                fxLayout="column"
                fxLayout.lt-md="column"
                fxLayoutGap="20px"
                *ngFor="let url of categoryFormGroup.controls; let i = index"
            >
                <ng-template mat-tab-label #tabGroup>{{
                    categoryList.value[i].name
                }}</ng-template>

                <div [formGroupName]="i">
                    <div class="flex flex-col">
                        <div class="separator">
                            <div *ngIf="this.round != 1000">
                                <div
                                    *ngIf="
                                        catArray[categoryList.value[i].name]
                                            .cutshow
                                    "
                                >
                                    <mat-label
                                        >Make auto Cut Based
                                        Groups/Flights?</mat-label
                                    >
                                </div>
                                <div
                                    *ngIf="
                                        !catArray[categoryList.value[i].name]
                                            .cutshow
                                    "
                                    [fxFlex]="40"
                                >
                                    <mat-label
                                        >Make Next Round
                                        Groups/Flights</mat-label
                                    >
                                </div>
                                <div
                                    *ngIf="
                                        !catArray[categoryList.value[i].name]
                                            .cutshow
                                    "
                                    [fxFlex]="70"
                                >
                                    <mat-radio-group
                                        fxLayoutAlign="start center"
                                        formControlName="playing"
                                        (change)="
                                            selectionChange(
                                                $event,
                                                categoryList.value[i].name
                                            )
                                        "
                                    >
                                        <mat-radio-button value="false"
                                            >NO</mat-radio-button
                                        >
                                        <mat-radio-button
                                            [checked]="true"
                                            value="true"
                                            >YES
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div
                                    *ngIf="
                                        catArray[categoryList.value[i].name]
                                            .cutshow
                                    "
                                    [fxFlex]="70"
                                >
                                    <mat-radio-group
                                        fxLayoutAlign="start center"
                                        formControlName="playing"
                                        (change)="
                                            selectionChange(
                                                $event,
                                                categoryList.value[i].name
                                            )
                                        "
                                    >
                                        <mat-radio-button value="false"
                                            >NO</mat-radio-button
                                        >
                                        <mat-radio-button
                                            [checked]="true"
                                            value="true"
                                            >YES (Flights will be make based on
                                            Gross or Net
                                            score)</mat-radio-button
                                        >
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div
                                *ngIf="
                                    catArray[categoryList.value[i].name].cutshow
                                "
                                class="mt-2 flex flex-row"
                            >
                                <div
                                    *ngIf="
                                        catArray[categoryList.value[i].name]
                                            .cutshow
                                    "
                                >
                                    <mat-label
                                        >Copy Last Round Flights?</mat-label
                                    >
                                </div>
                                <div class="ml-10">
                                    <mat-radio-group
                                        formControlName="copyFlights"
                                        (change)="
                                            selectionChangeCopy(
                                                $event,
                                                categoryList.value[i].name
                                            )
                                        "
                                    >
                                        <mat-radio-button value="No"
                                            >No</mat-radio-button
                                        >
                                        <mat-radio-button value="Yes"
                                            >Yes</mat-radio-button
                                        >
                                    </mat-radio-group>
                                </div>
                            </div>
                        </div>
                        <div
                            class="mt-3"
                            *ngIf="catArray[categoryList.value[i].name].value"
                        >
                            <div class="flex flex-row">
                                <div class="flex flex-row">
                                    <mat-label class="pt-3"
                                        >Players/Flight:</mat-label
                                    >
                                    <mat-form-field>
                                        <input
                                            matInput
                                            formControlName="players"
                                            type="number"
                                        />
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-row">
                                    <mat-label>Flight Start Time:</mat-label>
                                    <mat-form-field class="w-40">
                                        <input
                                            type="time"
                                            matInput
                                            atp-time-picker
                                            formControlName="time"
                                        />
                                        <mat-error
                                            >The input is required.</mat-error
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-row">
                                    <mat-label
                                        >Flights interval (Minutes)</mat-label
                                    >
                                    <mat-form-field>
                                        <input
                                            type="number"
                                            matInput
                                            formControlName="interval"
                                        />
                                        <mat-error
                                            >The input is required.</mat-error
                                        >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-row my-4">
                                <div class="flex flex-row">
                                    <mat-label>Starting Hole:</mat-label>
                                    <mat-radio-group
                                        formControlName="tee"
                                        fxLayoutAlign="start center"
                                    >
                                        <mat-radio-button value="1_10"
                                            >1-10</mat-radio-button
                                        >
                                        <mat-radio-button value="1"
                                            >1</mat-radio-button
                                        >
                                        <mat-radio-button value="10"
                                            >10</mat-radio-button
                                        >
                                    </mat-radio-group>
                                </div>
                                <div class="flex flex-row pl-24">
                                    <mat-label>Flights Order:</mat-label>
                                    <mat-radio-group
                                        formControlName="order"
                                        fxLayoutAlign="start center"
                                    >
                                        <mat-radio-button value="asc"
                                            >Ascending</mat-radio-button
                                        >
                                        <mat-radio-button value="desc"
                                            >Descending</mat-radio-button
                                        >
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="flex flex-row mt-10 mb-2">
                                <div
                                    *ngIf="
                                        catArray[categoryList.value[i].name]
                                            .cutshow &&
                                        catArray[categoryList.value[i].name]
                                            .showCutCopy
                                    "
                                    class="flex flex-row"
                                >
                                    <mat-label class="pt-4"
                                        >Cut Off Score (To Par)</mat-label
                                    >
                                    <mat-form-field>
                                        <input
                                            type="number"
                                            matInput
                                            formControlName="cuttScore"
                                            value=""
                                        />
                                        <mat-error
                                            >The input is required.</mat-error
                                        >
                                    </mat-form-field>
                                </div>
                                <div
                                    *ngIf="
                                        catArray[categoryList.value[i].name]
                                            .cutshow &&
                                        catArray[categoryList.value[i].name]
                                            .showCutCopy
                                    "
                                    class="flex flex-row pl-16 items-center"
                                >
                                    <mat-label
                                        >Cut off score based on:</mat-label
                                    >
                                    <mat-radio-group
                                        formControlName="type"
                                        fxLayoutAlign="start center"
                                    >
                                        <mat-radio-button value="GROSS"
                                            >GROSS</mat-radio-button
                                        >
                                        <mat-radio-button value="NET"
                                            >NET</mat-radio-button
                                        >
                                    </mat-radio-group>
                                </div>
                            </div>

                            <!-- <div fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
              <div [fxFlex]="100">
              <div formArrayName="category"
                *ngFor="let contact of categoryFormGroup.controls; let i = index;">
                <div [formGroupName]="i">
                  <mat-form-field>
                    <input matInput formControlName="name" readonly="true">
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="value" type="number">
                  </mat-form-field>
                </div>
              </div>
                </div>
              </div> -->
                        </div>
                    </div>
                </div>
                <div class="flex flex-row flex justify-center my-2">
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="saveCutSettings(i, $event)"
                    >
                        Save Changes
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button
        *ngIf="this.round != 1000"
        [disabled]="!allTabsChecked"
        mat-raised-button
        color="warn"
        [mat-dialog-close]="cutOffform.value"
        cdkFocusInitial
    >
        Close Round
    </button>
    <button
        *ngIf="this.round == 1000"
        [disabled]="!allTabsChecked"
        mat-raised-button
        color="warn"
        [mat-dialog-close]="cutOffform.value"
        cdkFocusInitial
    >
        Create Flights
    </button>
</div>
