


    <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner 
        color="primary" 
        mode="indeterminate">
      </mat-progress-spinner>
    </mat-card>

  <div *ngIf="showResult" class="mb-20 separator" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="40px">
    <div [fxFlex]= "70">
      <h2 >Add Players Score</h2>
    </div>
    <div [fxFlex]= "30"  fxLayoutAlign="end end">
 
      <div >
        <form [formGroup]="scheduleForm" autocomplete="off" novalidate fxLayout="column wrap"> 
        <mat-form-field appearance="outline" >
          <input matInput  [matDatepicker]="picker"  (dateChange)="onDatePick()" formControlName="startDate" placeholder="Start Date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </form>
    </div>

</div>
</div>

      <mat-card [fxFlex]= "100"  style="border-radius: 30px" *ngIf="showResult">
        <div class="mb-20 separator" style="background-color :#E8E8E7; border-radius: 25px"  fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div [fxFlex]= "70" fxLayoutAlign="start start">
              <h3 style="padding-left: 20px" >{{routeDate}}</h3>
           </div>

            <div [fxFlex]= "30" fxLayoutAlign="end end">
              <form class="example-container" [formGroup]="filters" >
                <mat-form-field class="example-full-width" [ngStyle]="{'margin': '0 5px'}">
                  <input matInput formControlName="name" placeholder="Search Player">
                </mat-form-field>
                  <button mat-raised-button [ngStyle]="{'margin': '0 5px'}" color="primary" (click)="filterPlayerFlight(true)"><mat-icon matSuffix>search</mat-icon></button>
                  <button mat-raised-button [ngStyle]="{'margin': '0 5px'}" (click)="filterPlayerFlight(false)"><mat-icon matSuffix>clear</mat-icon></button>
                </form>

        <!-- <button mat-raised-button color="primary" (click)="addDailyPlayer()">Add Player</button> -->
      </div>
    <!-- <div [fxFlex] = "3" fxLayoutAlign="start center">
      <mat-icon class="buttonClass mat-icon"  _ngcontent-cne-c258="" role="img"  (click)="addDailyPlayer()" aria-hidden="true" data-mat-icon-type="font">add</mat-icon>
     </div> -->

     <div [fxFlex] = "3" style="padding-right: 20px;">
      <div fxFlexFill fxLayoutAlign="center center">
        <button mat-mini-fab color="primary" [routerLinkActive]="'active'" [routerLink]="['/players/add']">
          <mat-icon aria-label="icon-button">add</mat-icon>
      </button>
    </div>
  </div>
        </div>
    </mat-card >
 



<div *ngIf="showResult" style="padding-top: 30px;">
  <span class="example-spacer"></span>
 
  <table class="mat-elevation-z8" *ngFor="let flight of singleFlight; let i = index;">
  
    <thead *ngIf="flight.header && flight.header.courseHoles18.length > 0">
      <tr class="topheader">
      <th>({{flight.courseHoleSetTitle}}) </th>
        <th *ngFor="let hole of flight.header.courseHoles9">{{hole?.holeNo}}</th>
        <th *ngIf="flight.header.courseHoles9.length > 0">out</th>
        <th *ngFor="let hole of flight.header.courseHoles18">{{hole?.holeNo}}</th>
        <th *ngIf="flight.header.courseHoles18.length > 0">in</th>
        <th *ngFor="let hole of flight.header.courseHoles27">{{hole?.holeNo}}</th>
        <th *ngIf="flight.header.courseHoles27.length > 0">out</th>
        <th *ngFor="let hole of flight.header.courseHoles36">{{hole?.holeNo}}</th>
        <th *ngIf="flight.header.courseHoles36.length > 0">in</th>
        <th>total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody *ngIf="flight.header && flight.header.courseHoles18.length > 0">
        <tr class="scorebody">
          <td>{{flight.name}} ({{flight.handicap| number : '1.0-0'}})</td>
          <td *ngFor="let score of flight.Hole9Scores; let i = index;"><span><input (input)="onGross9Change($event.target.value, flight.playerId, flight.header)" type="text" id="{{flight.header.courseHoles9[i].id}}&{{flight.playerId}}" maxlength="2" (keypress)="numberOnly($event)" (keyup.enter)="keytab($event)" value="{{score}}" [ngClass]="{'empty': (score=='' && flight.holesPlayed > 0), 'warn': (score>9)}" (change)="isDirty = true" /></span></td>
          <td><input type="text" id="gross9total_{{flight.playerId}}" value="{{flight.gross9Total}}" style="width: 30px;pointer-events: none;font-weight: bold;" disabled="disabled" /></td>
          <td *ngFor="let score of flight.Hole18Scores; let i = index;"><span><input type="text" (input)="onGross18Change($event.target.value, flight.playerId, flight.header)" id="{{flight.header.courseHoles18[i].id}}&{{flight.playerId}}" maxlength="2" (keypress)="numberOnly($event)" (keyup.enter)="keytab($event)" value="{{score}}" [ngClass]="{'empty': (score=='' && flight.holesPlayed > 0), 'warn': (score>9)}" /></span></td>
          <td><input type="text" id="gross18total_{{flight.playerId}}" value="{{flight.gross18Total}}" style="width: 30px;pointer-events: none;font-weight: bold;" disabled="disabled" /></td>
          <td><input type="text" id="grosstotal_{{flight.playerId}}" value="{{flight.grossTotal}}" style="width: 30px;pointer-events: none;font-weight: bold;" disabled="disabled" /></td>
          <!-- <td><mat-icon matSuffix color="primary"  title="{{flight.name}}" *ngIf="flightRound==activeRound" (click)="savePlayerScore(flight.flightId, flight.playerId)">save</mat-icon></td> -->
          <td><button mat-raised-button type="button" *ngIf="flightRound==activeRound" (click)="saveFlightScore(flight.flightId)"><mat-icon matSuffix color="primary"  title="{{flight.name}}" *ngIf="flightRound==activeRound" (click)="savePlayerScore(flight.flightId, flight.playerId)">save</mat-icon></button></td>
          <td ><mat-icon matSuffix color="primary" *ngIf="flightRound==activeRound" (click)="changeCourseHoleset(flight.flightId, flight.tournamentId, flight.playerId)">settings</mat-icon></td>
        </tr>
        <!-- <tr>
          <td colspan="23" style="text-align: right;"><button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="changeCourseHoleset(flight.flightId, flight.tournamentId)">Change Round Settings</button>&nbsp;<button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="saveFlightScore(flight.flightId)">Save All</button></td>
        </tr> -->
    </tbody>
 
    <thead *ngIf=" flight.header && (flight.header.courseHoles9.length > 0 && flight.header.courseHoles18.length == 0)">
      <tr class="topheader">
      <th>({{flight.courseHoleSetTitle}}) </th>
        <th *ngFor="let hole of flight.header.courseHoles9">{{hole?.holeNo}}</th>
        <th *ngIf="flight.header.courseHoles9.length > 0">out</th>
        <th>total</th>
        <th></th>
        <th></th>
      </tr>

    </thead>
    <tbody *ngIf="flight.header && (flight.header.courseHoles9.length > 0 && flight.header.courseHoles18.length == 0)">
        <tr  class="scorebody">
          <td>{{flight.name}} ({{flight.handicap| number : '1.0-0'}})</td>
          <td *ngFor="let score of flight.Hole9Scores; let i = index;"><span><input (input)="onGross9Change($event.target.value, flight.playerId, flight.header)" type="text" id="{{flight.header.courseHoles9[i].id}}&{{flight.playerId}}" maxlength="2" (keypress)="numberOnly($event)" (keyup.enter)="keytab($event)" (keyup)= "onKeyDown($event)" value="{{score}}" [ngClass]="{'empty': (score=='' && flight.holesPlayed > 0), 'warn': (score>9)}" (change)="isDirty = true" /></span></td>
          <td><input type="text" id="gross9total_{{flight.playerId}}" value="{{flight.gross9Total}}" style="width: 30px;pointer-events: none;font-weight: bold;" disabled="disabled" /></td>
          <td><input type="text" id="grosstotal_{{flight.playerId}}" value="{{flight.grossTotal}}" style="width: 30px;pointer-events: none;font-weight: bold;" disabled="disabled" /></td>
          <!-- <td><mat-icon matSuffix color="primary" title="{{flight.name}}" *ngIf="flightRound==activeRound" (click)="savePlayerScore(flight.flightId, flight.playerId)">save</mat-icon></td> -->
          <td><button mat-raised-button type="button" *ngIf="flightRound==activeRound" (click)="saveFlightScore(flight.flightId)"><mat-icon matSuffix color="primary" title="{{flight.name}}" *ngIf="flightRound==activeRound" (click)="savePlayerScore(flight.flightId, flight.playerId)">save</mat-icon></button></td>
          <td><mat-icon matSuffix color="primary" *ngIf="flightRound==activeRound" (click)="changeCourseHoleset(flight.flightId,flight.tournamentId, flight.playerId)">settings</mat-icon></td>
        </tr>
        <!-- <tr>
          <td colspan="23" style="text-align: right;"><button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="changeCourseHoleset(flight.flightId)">Change Round Settings</button>&nbsp;<button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="saveFlightScore(flight.flightId)">Save All</button></td>
        </tr> -->
    </tbody>
  </table>
  
</div>
