<div class="flex flex-auto">
    <!-- <mat-drawer
        class="w-full md:w-160 dark:bg-gray-900"
        [mode]="drawerMode"
        [opened]="false"
        [position]="'end'"
        [disableClose]="true"
        #matDrawer
    >
        <router-outlet></router-outlet>
    </mat-drawer> -->

    <!-- Main -->
    <div class="flex-auto">
        <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">
            <!-- Title -->
            <div>
                <div *ngIf="this.loggedInuser.userRole==1 || this.loggedInuser.userRole==2"
                    class="text-6xl font-extrabold tracking-tight leading-none mt-3">
                    Club Members
                </div>
                <div>
                    <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['/tours', tourID]">
                        <span class="inline-flex items-center">
                            <mat-icon class="icon-size-5 text-current"
                                [svgIcon]="'heroicons_solid:arrow-sm-left'"></mat-icon>
                            <span class="ml-1.5 font-medium leading-5">Back to Tour</span>
                        </span>
                    </a>
                    <div *ngIf="this.loggedInuser.userRole==4"
                        class="text-6xl font-extrabold tracking-tight leading-none mt-3">
                        Tour Members
                    </div>
                </div>
                <div class="ml-0.5 font-medium text-secondary">
                    <ng-container *ngIf="this.count > 0">
                        {{ this.count }} Total Members
                    </ng-container>

                </div>
            </div>

            <!-- Main actions -->
            <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                <!-- Search -->
                <div class="flex-auto">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                        <input matInput [formControl]="searchInputControl" (keyup)="applyFilter($event.target.value)"
                            [autocomplete]="'off'" [placeholder]="'Search contacts'" />
                    </mat-form-field>
                </div>
                <!-- Add contact button -->
                <button class="ml-4" mat-flat-button [color]="'primary'">
                    <a class="flex items-center" [routerLinkActive]="'active'" [routerLink]="['/players/add']">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">Add</span>
                    </a>
                </button>
            </div>
            <div class="flex mt-4 justify-end -mb-4">
                <mat-icon aria-hidden="false" color="warn" (click)="downloadAllPlayers()" aria-label="Dragable"
                    class="remove">picture_as_pdf</mat-icon>
                <!-- <input
                    #fileInput
                    id="file-upload"
                    type="file"
                    (change)="onFileChange($event)"
                />

                <button
                    style="margin-left: 20px; height: 35px !important"
                    mat-raised-button
                    color="primary"
                    (click)="parseFlightsData()"
                    [disabled]="!file"
                    
                >
                    Import Players
                </button> -->
            </div>
        </div>
        <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow overflow-hidden relative">
            <div class="overflow-x-auto">
                <table class="w-full bg-transparent" *ngIf="showTable | async" mat-table matSort
                    [dataSource]="playersDataSource" (matSortChange)="onSortChanged($event)" #event>
                    <!-- Serial -->

                    <ng-container matColumnDef="Sr">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Sr.
                        </th>
                        <td mat-cell *matCellDef="let transaction; let i = index">
                            <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                {{ i + 1 }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Name -->

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Name
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <a [routerLinkActive]="'active'" [routerLink]="[
                                    '/players/viewProfile/' + transaction.id
                                ]">
                                <span
                                    class="pr-6 font-medium whitespace-nowrap underline underline-offset-1 cursor-pointer">
                                    {{ transaction.Name }}
                                </span>
                            </a>
                        </td>
                    </ng-container>

                    <!-- Phone -->
                    <ng-container matColumnDef="Phone">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Phone
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{ transaction.Phone }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Email -->
                    <ng-container matColumnDef="Email">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Email
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{ transaction.Email }}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Membership -->
                    <ng-container matColumnDef="MembershipNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            MembershipNo
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{ transaction.MembershipNo }}
                            </span>
                        </td>
                    </ng-container>
                    <!-- Category -->
                    <ng-container matColumnDef="Category">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Category
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{ transaction.Category }}
                            </span>
                        </td>
                    </ng-container>
                    <!-- Handicap -->
                    <ng-container matColumnDef="Handicap">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Handicap
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{ transaction.Handicap }}
                            </span>
                        </td>
                    </ng-container>
                    <!-- Edit -->
                    <ng-container matColumnDef="Edit">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Edit
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                <a class="flex items-center" [routerLinkActive]="'active'" [routerLink]="[
                                        '/players/view/' + transaction.id
                                    ]">
                                    <mat-icon [svgIcon]="'heroicons_outline:pencil'" color="primary"></mat-icon>
                                </a>
                            </span>
                        </td>
                    </ng-container>
                    <!-- view -->
                    <ng-container matColumnDef="view">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            View
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                <a [routerLinkActive]="'active'" [routerLink]="[
                                        '/players/viewProfile/' + transaction.id
                                    ]">
                                    <button>
                                        <mat-icon [svgIcon]="'heroicons_outline:eye'" color="primary"></mat-icon>
                                    </button>
                                </a>
                            </span>
                        </td>
                    </ng-container>
                    <!-- Delete -->
                    <ng-container matColumnDef="Delete">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Delete
                        </th>
                        <td mat-cell *matCellDef="let transaction;let i = index">
                            <span class="pr-6 font-medium whitespace-nowrap cursor-pointer">
                                <mat-icon [svgIcon]="'heroicons_solid:delete'" color="warn"
                                    (click)="deletePlayer(transaction,i)"></mat-icon>
                            </span>
                        </td>
                    </ng-container>
                    <!-- Delete -->
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef
                            class="bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            Status
                        </th>
                        <td mat-cell *matCellDef="let transaction">
                            <span *ngIf="transaction.Status.length == 0"
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50">
                                <span class="leading-relaxed whitespace-nowrap">
                                    Disable
                                </span>
                            </span>
                            <span *ngIf="transaction.Status.length != 0"
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                [ngClass]="{
                                    'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50':
                                        transaction.Status.length == 0 ||
                                        !transaction.Status[0].suspended,
                                    'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50':
                                        transaction.Status[0].suspended
                                }">
                                <span *ngIf="
                                        transaction.Status.length == 0 ||
                                        transaction.Status[0].suspended
                                    " class="leading-relaxed whitespace-nowrap">Disable</span>
                                <span *ngIf="!transaction.Status[0].suspended"
                                    class="leading-relaxed whitespace-nowrap">Active</span>
                            </span>
                        </td>
                    </ng-container>

                    <!-- Footer
        <ng-container matColumnDef="recentOrdersTableFooter">
            <td
                class="py-6 px-0 border-0"
                mat-footer-cell
                *matFooterCellDef
                colspan="6">
                <button mat-stroked-button>See all transactions</button>
            </td>
        </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="playersTableColumns"></tr>
                    <tr class="order-row h-16 hover:bg-gray-100" mat-row
                        *matRowDef="let row; columns: playersTableColumns"></tr>
                </table>
                <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
            </div>
            <!-- No contacts -->
            <ng-template *ngIf="displayNoRecords === false">
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                    No Member Found!
                </div>
            </ng-template>
        </div>
    </div>
</div>