<div class="card mini-stats-wid">
  <div class="card-body">
      <div class="media">
          <div class="media-body">
              <p class="text-muted font-weight-medium">{{label}}</p>
              <h4 class="mb-0">{{ data | number : '1.2-2'}}</h4>
          </div>

          <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
              <span class="avatar-title">
                <mat-icon class="nav-icon">{{icon}}</mat-icon>
              </span>
          </div>
      </div>
  </div>
</div>