<div mat-dialog-content>

    <!-- <h2 mat-dialog-title class="text-red-600 font-bold">Invalid Players</h2> -->
    <p class="px-4 pb-3 text-red-600 font-bold">
        These players do not belong to the selected categories. Please correct your selection.
    </p>

    <table mat-table [dataSource]="dataSource" class="w-full border rounded-lg">

        <!-- Name column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
        </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email</th>
            <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>

        <!-- Category column -->
        <ng-container matColumnDef="playerCategory">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element"> {{ element.playerCategory }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="flex justify-end p-4">
        <button mat-raised-button color="warn" (click)="close()">Close</button>
    </div>
</div>