<!-- <div class="card">
  <div _ngcontent-fmu-c140="" class="card-body">
    <div _ngcontent-fmu-c140="" class="row">
      <div _ngcontent-fmu-c140="" class="col mt-0">
        <h5 _ngcontent-fmu-c140="" class="card-title">{{label}}</h5>
      </div>
      <div _ngcontent-fmu-c140="" class="col-auto">
        <div _ngcontent-fmu-c140="" class="col-green">
          <i _ngcontent-fmu-c140="" class="fas fa-user-friends pull-left card-icon col-orange font-30"></i>
        </div>
      </div>
    </div>
    <h1 _ngcontent-fmu-c140="" class="mt-1 mb-3">{{count}}</h1>
    <div _ngcontent-fmu-c140="" class="mb-0">
      <span _ngcontent-fmu-c140="" class="text-success m-r-10">
        <div mat-card-avatar>
          <mat-icon class="icon-lg">{{icon}}</mat-icon>
      </div></span>
      <span _ngcontent-fmu-c140="" class="text-muted">
        <mat-card [ngClass]="bgClass">
          <mat-card-actions>
            <a *ngIf="detail"  href="{{link}}" class="float-right card-inverse">
                View Details
            </a>
        </mat-card-actions>
      </mat-card>
      </span>
    </div>
  </div>
</div> -->
<div class="card">
  <div class="card-body" [ngClass]="bgClass">
    <div class="row">
      <div class="col mt-0">
        <h5 class="card-title">{{ label }}</h5>
      </div>
      <div class="col-auto">
        <div class="col-green">
          <img src="../../../../assets/images/icon-3.png" />
        </div>
      </div>
    </div>
    <h1 class="mt-1 mb-3">{{ count }}</h1>
    <div class="mb-0">
      <a *ngIf="detail" href="{{ link }}" class="float-right card-inverse">
        View Details
      </a>
      <button *ngIf="!detail" class="btn success float-right card-inverse">
        View Details
      </button>
    </div>
  </div>
</div>
