*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

*,
:after,
:before {
  box-sizing: border-box;
}
div {
  display: block;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #deebfd;
  box-shadow: -8px 12px 18px 0 #dadee8;

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;

    a {
      text-decoration: none;
      color: #1c7a93;
      position: absolute;
      right: 15px;
      top: 110px;
    }
  }
}
body,
html {
  transition: all 0.5s;
  background-color: #f0f3fb;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.card-title {
  margin-bottom: 0.75rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  .col-green {
    position: absolute;
    top: -35px;
    right: 20px;
    margin-top: 35px;
  }
}
*,
:after,
:before {
  box-sizing: border-box;
}
.row {
  margin-bottom: 0 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.col-auto {
  padding-left: 15px;
  padding-right: 15px;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
div {
  display: block;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.h1,
h1 {
  font-size: 2.5rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.btn {
  border: none;
  background-color: inherit;

  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */

.success {
  color: #1c7a93;
  margin-left: 60 px;
  float: right;
  /* font-stretch: normal; */
  white-space: nowrap;
}
.card-body.danger {
  background: #ebebee;
}

.card-body.warn {
  background: #ebebee;
}

.card-body.navi {
  background: #ebebee;
}

.card-body.success {
  background: #ebebee;
}

.card-body.info {
  background: #ebebee;
}

.card-body.purple {
  background: #ebebee;
}
