<div mat-dialog-content>
    <div>

        <table id="playerTables" mat-table [dataSource]="dataSource" matSort>
            <!-- Membership Number Column -->
            <ng-container matColumnDef="Sr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr</th>
                <td mat-cell *matCellDef="let row;let i=index">
                    {{ i+1 }}
                </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="desc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="row.description; else noDescription">
                        <span *ngIf="extractId(row.description); else noId">
                            <ng-container *ngFor="let part of row.description.split(extractId(row.description))">
                                {{ part }}
                                <a *ngIf="part === row.description.split(extractId(row.description))[0]"
                                    [routerLink]="['/tournaments/view', extractId(row.description)]">
                                    {{ extractId(row.description) }}
                                </a>
                            </ng-container>
                        </span>
                        <ng-template #noId>
                            {{ row.description }}
                        </ng-template>
                    </ng-container>
                    <ng-template #noDescription>
                        No Description
                    </ng-template>
                </td>
            </ng-container>
            <!-- First Name Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time </th>
                <td mat-cell *matCellDef="let row" class="px-4">
                    {{ row.date | date:'HH:mm, dd MMMM yyyy ' }}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #MatPaginatorA="matPaginator" [pageSize]="10"
            [pageSizeOptions]="[10,20,30, 50, 100]"></mat-paginator>
    </div>
</div>
<div mat-dialog-actions class="flex justify-center mt-4">
    <button mat-raised-button (click)="close()">Close</button>

</div>