table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-collapse: collapse;
    background-color: #ffffff;
    
    td, th {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 14px;
        text-align: center;
        color: #4e4e4e;
        
        span {
            margin: 0 5px;
            text-transform: uppercase;
        }

        span.smaller {
            color: #787b78;
            font-size: 18px;
        }

        .mat-icon {
            cursor: pointer;
        }

        span.person {
            color: #164A72;
        }
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        color: #787b93;
        font-size: 14px;
        letter-spacing: .5px;
    }

    th.cutOff {
        background-color: #bd130f;
    }

    tr:nth-child(even) {background-color: #ffffff;}

    tr:hover {background-color: #ddd;}
}