table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 290px;

    
}
.disabled {
    color: #d3d3d3;
    cursor: default;
}
.active {
    color: green  !important;
    cursor: pointer;
}
.mat-tab-group {
    .mat-tab-body-content {
        padding: 30px!important;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}



th.mat-header-cell {
    text-align: left;
    max-width: 300px;
    font-weight: bold;
}
.space{
    margin-top: 9px;
}
.custom-file-upload {
    background-color: rgb(26, 114, 136);
    border-radius: 3px;
    border-style: none;
    background-clip: border-box;
    box-shadow: 1.2px 1.2px 1.2px 0 #9c9cb9;
    cursor: pointer;
    font-weight: bolder;
    width: 100px;
    color: #ffffff;
    font-size: 100%;
  
    padding: 10px 7px 7px 6px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
  }
  .custom-file-upload:hover {
    cursor: pointer;
    background-color: rgb(10, 104, 121);
  }
  input[type="file"] {
    display: none;
  }
  .trues {
    color: #1c7a93;
  }
  