<div mat-dialog-content style="padding: 10px">
    <div>
        <h3 color="primary" class="font-medium text-lg">Move: {{ data.name }}</h3>
    </div>
    <div class="flex align-center">
        Move to flight:
        <mat-form-field *ngIf="data.flights > 0">
            <mat-select
                (selectionChange)="changeFlight($event)"
                [(value)]="selectedFlight"
            >
                <mat-option
                    *ngFor="let flight of totalFlights"
                    [value]="flight.Value" 
                >
                    {{ flight.Text }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="flex justify-center mt-2">
    <button mat-raised-button (click)="onNoClick()">Cancel</button>
    <button
        mat-raised-button
        color="primary"
        [mat-dialog-close]="selectedFlight"
        cdkFocusInitial
    >
        Move
    </button>
</div>
