table {
    width: 100%;

    tr {
        th {
            padding: 1.1rem;
        }

        td {
            padding: 1.1rem;
        }
    }
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}