<div class="flex flex-auto px-6 sm:px-10">
    <div class="flex flex-col flex-auto w-full max-w-7xl sm:max-w-5xl mx-auto">
        <div class="mt-3 flex flex-col sm:flex-row items-center justify-end sm:mt-0 sm:ml-2">
            <mat-form-field *ngIf="Leaderboard?.noOfRounds > 1" class="fuse-mat-no-subscript pb-2 w-full sm:w-36">
                <mat-select (selectionChange)="changeRound($event)" [(value)]="flightRound">
                    <mat-option [value]="0">All Rounds</mat-option>
                    <mat-option *ngFor="let round of tRounds" [value]="round.Value">
                        {{ round.Text }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-no-subscript pb-2 w-full sm:w-48 sm:inline md:hidden">
                <input (input)="filterByQuery(query.value)" placeholder="Search by Name" matInput #query />
            </mat-form-field>
        </div>

            <div class="flex flex-col sm:flex-row items-center justify-center mb-1">
            
                    <div id="leaderboard" class="mt-2">

                        <ul class="responsive-table" *ngIf="allRoundNetScore">
                            <li class="table-header">
                                <div class="col col-1">POS.</div>
                                <div class="col col-2">PLAYER</div>
                                <div class="col col-3">TOTAL</div>
                                <div class="col col-4">R1</div>
                                <div class="col col-5" *ngIf="activeRound >= 2">
                                    R2
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 3 && totalRounds >= 3
                                                ">
                                    R3
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 4 && totalRounds == 4
                                                ">
                                    R4
                                </div>
                                <div class="col col-5 THRU">THRU</div>
                            </li>
                            <li class="table-row" *ngFor="let item of LeaderboardPlayers">
                                <div class="col col-1">
                                    {{ item.position }}
                                </div>
                                <div class="col col-2">
                                    {{ item.name }}
                                    <div class="text-xs flex items-center">
                                        HC:{{ item.handicap }}
                                        <div class="cursor-pointer py-0.5 ml-1 w-18 leading-3 flex justify-center rounded-full text-sm font-semibold text-blue-800 bg-blue-100'"
                                            (click)="
                                                            viewPlayerScore(
                                                                item.name,
                                                                item.courseId,
                                                                item.holeSets,
                                                                item.playerId,
                                                                item.holeSetsInverted,
                                                                item.type
                                                            )
                                                        ">
                                            view score
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-3">{{getTotal(item)}}</div>
                                <div class="col col-4">
                                    {{
                                    item.pointsRound1 !== undefined
                                    ? item.pointsRound1
                                    : "-"
                                    }}
                                </div>
                                <div class="col col-5" *ngIf="activeRound == 1">
                                    <strong *ngIf="item.holesPlayedR1 == 18">F</strong><strong *ngIf="item.holesPlayedR1 < 18">{{
                                        item.holesPlayedR1
                                        }}</strong>
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 2 && totalRounds >= 2
                                                ">
                                    {{ item.pointsRound2 !== undefined
                                    ? item.pointsRound2
                                    : "-"}}
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound == 2 ||
                                                    (activeRound > totalRounds &&
                                                        totalRounds == 2)
                                                ">
                                    <strong *ngIf="item.holesPlayedR2 == 18">F</strong><strong *ngIf="item.holesPlayedR2 < 18">{{
                                        item.holesPlayedR2
                                        }}</strong>
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 3 && totalRounds >= 3
                                                ">
                                    {{ item.pointsRound3 !== undefined
                                    ? item.pointsRound3
                                    : "-"}}
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound == 3 ||
                                                    (activeRound > totalRounds &&
                                                        totalRounds == 3)
                                                ">
                                    <strong *ngIf="item.holesPlayedR3 == 18">F</strong>
                                    <strong *ngIf="item.holesPlayedR3 < 18">{{
                                        item.holesPlayedR3
                                        }}</strong>
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 4 && totalRounds == 4
                                                ">
                                    {{ item.pointsRound4!== undefined
                                    ? item.pointsRound4
                                    : "-" }}
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 4 && totalRounds == 4
                                                ">
                                    <strong *ngIf="item.holesPlayedR4 == 18">F</strong><strong *ngIf="item.holesPlayedR4 < 18">{{
                                        item.holesPlayedR4
                                        }}</strong>
                                </div>
                            </li>
                        </ul>

                        <ul class="responsive-table" *ngIf="
                                            activeRound > 1 &&
                                            allRoundCutOffNet 
                                        ">
                            <li class="table-header justify-center bg-red-600" *ngIf="isCuttOffRequired">
                                <div class="cut-UI-Mobile">
                                    {{ cuttType }}
                                    CUT ROUND
                                    {{
                                    activeRound > totalRounds
                                    ? totalRounds - 1
                                    : activeRound - 1
                                    }}
                                </div>
                            </li>
                            <li class="table-row" *ngFor="let item of allLeadersCutOffNet">
                                <div class="col col-1">-</div>
                                <div class="col col-2">
                                    {{ item.name }}
                                    <div *ngIf="item.handicap > 0" class="text-xs flex items-center">
                                        HC:{{ item.handicap }}
                                        <div class="cursor-pointer py-0.5 ml-1 w-18 leading-3 flex justify-center rounded-full text-sm font-semibold text-blue-800 bg-blue-100'"
                                            (click)="
                                                            viewPlayerScore(
                                                                item.name,
                                                                item.courseId,
                                                                item.holeSets,
                                                                item.playerId,
                                                                item.holeSetsInverted,
                                                                item.type
                                                            )
                                                        ">
                                            view score
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-3">{{getTotal(item)}}</div>
                                <div class="col col-4">
                                    {{
                                        item.pointsRound1 !== undefined
                                        ? item.pointsRound1
                                        : "-"
                                        }}
                                </div>
                                <div class="col col-5" *ngIf="activeRound == 1">
                                    <strong *ngIf="item.holesPlayedR1 == 18">F</strong><strong *ngIf="item.holesPlayedR1 < 18">{{
                                        item.holesPlayedR1
                                        }}</strong>
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 2 && totalRounds >= 2
                                                ">
                                                {{ item.pointsRound2 !== undefined
                                                    ? item.pointsRound2
                                                    : "-"}}
                                </div>
                                <div class="col col-5" *ngIf="activeRound == 2">
                                    <strong *ngIf="item.holesPlayedR2 == 18">F</strong><strong *ngIf="item.holesPlayedR2 < 18">{{
                                        item.holesPlayedR2
                                        }}</strong>
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 3 && totalRounds >= 3
                                                ">
                                                {{ item.pointsRound3 !== undefined
                                                    ? item.pointsRound3
                                                    : "-"}}
                                </div>
                                <div class="col col-5" *ngIf="activeRound == 3">
                                    <strong *ngIf="item.holesPlayedR3 == 18">F</strong>
                                    <strong *ngIf="item.holesPlayedR3 < 18">{{
                                        item.holesPlayedR3
                                        }}</strong>
                                </div>
                                <div class="col col-5" *ngIf="
                                                    activeRound >= 4 && totalRounds == 4
                                                ">
                                                {{ item.pointsRound4!== undefined
                                                    ? item.pointsRound4
                                                    : "-" }}
                                </div>
                                <div class="col col-5" *ngIf="activeRound >= 4">
                                    <strong *ngIf="item.holesPlayedR3 == 18">F</strong><strong *ngIf="item.holesPlayedR3 < 18">{{
                                        item.holesPlayedR3
                                        }}</strong>
                                </div>
                            </li>
                        </ul>
                        <ul class="responsive-table" *ngIf="isNet">
                            <li class="table-header">
                                <div class="col col-1">POS.</div>
                                <div class="col col-2">PLAYER</div>
                                <div class="col col-3">NET</div>
                                <div class="col col-4 THRU par ">PTS</div>
                                <div class="col col-5 THRU">THRU</div>
                            </li>
                            <li class="table-row" *ngFor="let item of LeaderboardPlayers">
                                <div class="col col-1">
                                    {{ item.position }}
                                </div>
                                <div class="col col-2">
                                    {{ item.name }}
                                    <div class="text-xs flex items-center">
                                        <span *ngIf="item.handicap > 0">
                                            HC:{{ item.handicap }}
                                        </span>

                                        <div class="cursor-pointer py-0.5 ml-1 w-18 leading-3 flex justify-center rounded-full text-sm font-semibold text-blue-800 bg-blue-100'"
                                            (click)="
                                                            viewPlayerScore(
                                                                item.name,
                                                                item.courseId,
                                                                item.holeSets,
                                                                item.playerId,
                                                                item.holeSetsInverted,
                                                                item.type
                                                            )
                                                        ">
                                            view score
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-4" [ngStyle]="getUnderStyleN(item, flightRound)" >
                                    {{ item.netScoreR1}}
                                </div>
                                <div class="col col-3">
                                    {{ item.pointsRound1}}
                                </div>
                                
                                <div class="col col-5" *ngIf="item.holesPlayedR1===18">
                                    F
                                </div>
                                <div class="col col-5" *ngIf="item.holesPlayedR1!=18">
                                    {{ item.holesPlayedR1}}
                                </div>
                            </li>
                        </ul>
                    </div>
               
        </div>

    </div>
</div>