<div class="w-200" mat-dialog-content>
    <div>
        <div class="flex">
            <div class="text-lg w-76 pt-4">Tournament Members</div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
            </mat-form-field>
        </div>

        <table id="playerTable" mat-table [dataSource]="dataSource" matSort>
            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">
                    <span class="flex gap-x-2 items-center">
                        <span class="w-2 h-2 rounded-full" [style.background-color]="row?.teamColor"></span>
                        <span>
                            {{ (row.firstName + " " + row.lastName) | uppercase}}
                        </span>

                    </span>
                </td>
            </ng-container>
            <!-- Email Column -->
            <ng-container matColumnDef="handicap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Handicap
                </th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.handicap < 1">0</span>
                    <span *ngIf="row.handicap >= 1">{{
                        row.handicap | number : "1.1-1"
                        }}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="playerCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Category
                </th>
                <td mat-cell *matCellDef="let row">{{ row.playerCategory=='Seniors' ? 'Senior Amateurs'
                    :row.playerCategory }}</td>
            </ng-container>
            <!-- Membership Number Column -->
            <ng-container matColumnDef="membershipNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MNo.</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.membershipNumber }}
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="
                            selection.hasValue() && !isAllSelected()
                        " [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
    </div>
</div>
<div mat-dialog-actions class="flex justify-center mt-4">
    <button mat-raised-button [mat-dialog-close]="refresh">Close</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="tournamentMember" (click)="onSubmit()"
        cdkFocusInitial>
        Save Member
    </button>
</div>