<div class="flex flex-col w-full">
    <!-- Edit mode -->
    <ng-container >
        <!-- Header -->
        <div
            class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
        >
            <!-- Background -->
            <ng-container>
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    [src]="this.cardsrc"
                />
            </ng-container>
            <!-- Close button -->
            <div
                class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
            >
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['/players']"
                >
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x'"
                    ></mat-icon>
                </a>
            </div>
        </div>

        <!-- Contact form -->
        <div
            class="relative flex flex-col flex-auto items-center px-6 sm:px-12"
        >
            <div class="w-full max-w-3xl">
                <form  [formGroup]="contactForm ? contactForm : []" autocomplete="off" novalidate>
                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div
                            class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
                        >
                            <!-- Image/Letter -->
                            <!-- <img
                                class="object-cover w-full h-full"
                                [src]="this.avatarsrc"
                            />-->
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-6xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            >
                                NEW
                            </div>
                        </div>
                    </div>

                    <!--First Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>First Name</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="firstName"    
                                [placeholder]="'FirstName'"                  
                        
                            />
                        </mat-form-field>
                    </div>
                    <!--Last Name -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Last Name</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:user-circle'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="lastName"
                                [placeholder]="'LastName'"
                              
                            />
                        </mat-form-field>
                    </div>

                    <!-- category -->
                    <!-- <div class="flex flex-wrap items-center -m-1.5 mt-6">
                       
                        <ng-container *ngIf="contact.category">
                            <ng-container >
                                <div class="flex items-center justify-center px-4 m-1.5 rounded-full leading-9 text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                    <span class="text-md font-medium whitespace-nowrap">{{contact.category}}</span>
                                </div>
                            </ng-container>
                        </ng-container> -->

                    <!-- </div> -->

                    <!-- Email -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Email</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:mail'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="email"
                                [placeholder]="'Email'"
                            />
                        </mat-form-field>
                    </div>
                    <!-- Handicap -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Handicap</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:tag'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="handicap"
                                [placeholder]="'Handicap'"
                                type="number"
                            />
                        </mat-form-field>
                    </div>

                    <!-- CLUB -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Club</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:stop'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="club"
                                [placeholder]="'Club'"
                                [readonly]="hideClubs"
                                [matAutocomplete]="auto"
                            />
                            <mat-autocomplete
                            autoActiveFirstOption
                                #auto="matAutocomplete"
                                [displayWith]="displayFn"
                            >
                                <mat-option
                                    *ngFor="
                                        let option of filteredClubOptions
                                            | async
                                    "
                                    [value]="option"
                                >
                                    {{ option.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <!-- Membership -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Membership No</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:color-swatch'"
                            ></mat-icon>
                            <input
                                matInput
                                formControlName="membershipNo"
                                [placeholder]="'Membership No '"
                            />
                        </mat-form-field>
                    </div>

                    <!-- Category -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Category</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:newspaper'"
                            ></mat-icon>

                            <mat-select
                                formControlName="category"
                                placeholder="Player Category"
                                class="mr-1.5"
                            >
                                <mat-option
                                    *ngFor="let cat of playerCategories"
                                    [value]="cat.name"
                                >
                                    <span class="flex items-center">
                                        <span class="ml-5">{{ cat.name }}</span>
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- Gender -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto"
                                    >
                                        <mat-label>Gender</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:map'"
                                        ></mat-icon>
                                        <mat-select
                                            formControlName="gender"
                                            placeholder="Gender"
                                            class="mr-1.5"
                                        >
                                            <mat-option value="male">
                                                <span class="flex items-center">
                                                    <span class="ml-2"
                                                        >Male</span
                                                    >
                                                </span>
                                            </mat-option>
                                            <mat-option value="female">
                                                <span class="flex items-center">
                                                    <span class="ml-2"
                                                        >Female</span
                                                    >
                                                </span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Country -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto"
                                    >
                                        <mat-label>Country</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:cloud'"
                                        ></mat-icon>
                                        <mat-select
                                            formControlName="country"
                                            placeholder="Country"
                                            class="mr-1.5"
                                        >
                                            <mat-option value="Pakistan">
                                                <span class="flex items-center">
                                                    <span class="ml-2"
                                                        >Pakistan</span
                                                    >
                                                </span>
                                            </mat-option>
                                            <mat-option value="United Kingdom">
                                                <span class="flex items-center">
                                                    <span class="ml-2"
                                                        >United Kingdom</span
                                                    >
                                                </span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <!-- Status -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="flex">
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto"
                                    >
                                        <mat-label>Status</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="
                                                'heroicons_solid:status-online'
                                            "
                                        ></mat-icon>
                                        <mat-select
                                            formControlName="status"
                                            placeholder="Status"
                                            class="mr-1.5"
                                        >
                                            <mat-option value="false">
                                                <span class="flex items-center">
                                                    <span class="ml-2"
                                                        >Active</span
                                                    >
                                                </span>
                                            </mat-option>
                                            <mat-option value="true">
                                                <span class="flex items-center">
                                                    <span class="ml-2"
                                                        >Disable</span
                                                    >
                                                </span>
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <!-- Phone numbers -->
                    <div class="mt-8">
                        <div class="space-y-4">
                            <ng-container>
                                <div class="relative flex">
                                    <mat-form-field
                                        class="fuse-mat-no-subscript flex-auto"
                                    >
                                        <mat-label>Phone</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:phone'"
                                        ></mat-icon>
                                        <input
                                            matInput
                                            formControlName="phoneNumbers"
                                            [placeholder]="'Phone Number'"
                                        />
                                    </mat-form-field>
                                    <!-- <mat-form-field class="fuse-mat-no-subscript flex-auto w-full max-w-24 sm:max-w-40 ml-2 sm:ml-4">
                                        <mat-label *ngIf="first">Label</mat-label>
                                        <mat-icon
                                            matPrefix
                                            class="hidden sm:flex icon-size-5"
                                            [svgIcon]="'heroicons_solid:tag'"></mat-icon>
                                        <input
                                            matInput
                                            formControlName="phoneNumber.get('label')"
                                            [placeholder]="'Label'">
                                    </mat-form-field> -->
                                    <!-- Remove phone number -->
                                    <!-- <ng-container *ngIf="!(first && last)">
                                        <div
                                            class="flex items-center w-10 pl-2"
                                            [ngClass]="{'mt-6': first}">
                                            <button
                                                class="w-8 h-8 min-h-8"
                                                mat-icon-button
                                                (click)="removePhoneNumberField(i)"
                                                matTooltip="Remove">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </ng-container> -->
                                </div>
                            </ng-container>
                        </div>
                        <!-- <div
                            class="group inline-flex items-center mt-2 -ml-4 py-2 px-4 rounded cursor-pointer"
                            (click)="addPhoneNumberField()">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                            <span class="ml-2 font-medium text-secondary group-hover:underline">Add a phone number</span>
                        </div> -->
                    </div>

                    <!-- Address -->
                    <!-- <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Address</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            <input
                                matInput
                                formControlName="'address'"
                                [placeholder]="'Address'">
                        </mat-form-field>
                    </div> -->

                    <!-- Birthday -->
                    <div class="mt-8">
                        <mat-form-field class="fuse-mat-no-subscript w-full">
                            <mat-label>Birthday</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:cake'"
                            ></mat-icon>
                            <input
                                matInput
                                [matDatepicker]="birthdayDatepicker"
                                formControlName="dateOfBirth"
                                [placeholder]="'Enter Birthday'"
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="birthdayDatepicker"
                            >
                            </mat-datepicker-toggle>
                            <mat-datepicker
                                #birthdayDatepicker
                            ></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <!-- Notes -->
                    <div class="mt-8">
                        <mat-form-field
                            class="fuse-mat-textarea fuse-mat-no-subscript w-full"
                        >
                            <mat-label>Notes</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:menu-alt-2'"
                            ></mat-icon>
                            <textarea
                                matInput
                                formControlName="notes"
                                [placeholder]="'Notes'"
                                [rows]="5"
                                [spellcheck]="false"
                                matTextareaAutosize
                            ></textarea>
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
                    >
                        <!-- Delete -->
                        <button
                            mat-button
                            [color]="'warn'"
                            [matTooltip]="'Delete'"
                            (click)="deleteContact()"
                        >
                            Delete
                        </button>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'Cancel'"
                            (click)="cancel()"
                        >
                            Cancel
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="contactForm.invalid"
                            [matTooltip]="'Save'"
                            (click)="updateContact()"
                        >
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
