<div class="flex-auto">
    <div
        class="flex flex-col sm:flex-row md:flex-col flex-auto bg-card justify-between py-8 px-6 md:px-8 border-b"
    >
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">
                Tee Time Booking
            </div>
        </div>

        <div class="mt-6 sm:mt-0 md:mt-6">
            <form
                [formGroup]="scheduleForm"
                autocomplete="off"
                novalidate
                (ngSubmit)="createSchedule()"

            >
                <div class="flex">
                    <mat-form-field class="mx-4 w-full">
                        <input
                            matInput
                            [matDatepicker]="picker"
                            [min]="minDate"
                            [max]="maxDate"
                            formControlName="BookingDate"
                            placeholder="Schedule Date"
                            disabled
                        />
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #picker
                            disabled="false"
                        ></mat-datepicker>
                        <mat-error>This field is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-row items-center">
                    <mat-form-field appearance="fill" class="mx-4 w-full">
                        <mat-label>Starting Tee Box:</mat-label>
                        <mat-select
                            placeholder="Starting Tee Box"
                            formControlName="startingHole"
                        >
                            <mat-option value="1">Tee Box 1</mat-option>
                            <mat-option value="10">Tee Box 10</mat-option>
                            <mat-option value="both">Both</mat-option>
                        </mat-select>
                        <mat-icon matSuffix>golf_course</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="mx-4 w-full">
                        <mat-label>Internal (Minutes)</mat-label>
                        <input
                            matInput
                            formControlName="interval"
                            type="number"
                            min="1"
                            max="30"
                        />
                        <mat-icon matSuffix>av_timer</mat-icon>
                    </mat-form-field>
                </div>
                <div class="flex flex-row items-center">
                    <mat-form-field appearance="fill" class="mx-4 w-full">
                        <mat-label>First Tee Time:</mat-label>
                        <input
                            type="time"
                            matInput
                            atp-time-picker
                            formControlName="startTime"
                        />
                        <mat-error>The input is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="mx-4 w-full">
                        <mat-label>Last Tee Time:</mat-label>
                        <input
                            type="time"
                            matInput
                            atp-time-picker
                            formControlName="endTime"
                        />
                        <mat-error>The input is required.</mat-error>
                    </mat-form-field>
                </div>
                <div class="flex flex-row items-center mx-4">
                    <mat-checkbox formControlName="allowNineHole"
                        >Allow Playing Nine Hole</mat-checkbox
                    >
                </div>

                <div class="flex justify-center">
                    <button
                    class="mx-2"
                        mat-raised-button
                        color="primary"
                        [disabled]="!scheduleForm.valid"
                    >
                        Save
                    </button>
                    <button
                        mat-raised-button
                        color="accent"
                        [routerLinkActive]="'active'"
                        [routerLink]="['/teetimes']"
                    >
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
