.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: 1.25rem;
    margin-bottom: 24px;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    width: 350px;
    padding: 15px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0 20px;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .media-body {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding: 10px;
    }
}



.mini-stats-wid .mini-stat-icon {
    overflow: hidden;
    position: relative;
}

.avatar-sm {
    height: 3rem;
    width: 3rem;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.rounded-circle {
    border-radius: 50%!important;
}

.mini-stats-wid .mini-stat-icon:after, .mini-stats-wid .mini-stat-icon:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 54px;
    background-color: rgba(255,255,255,.1);
    left: 16px;
    -webkit-transform: rotate(32deg);
    transform: rotate(32deg);
    top: -5px;
    -webkit-transition: all .4s;
    transition: all .4s;
    
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.font-size-24 {
    font-size: 24px!important;
}