<div class="flex flex-auto p-6 sm:p-10">
    <div class="flex flex-col flex-auto w-full max-w-7xl sm:max-w-5xl mx-auto">
        <div class="mt-3 flex flex-col sm:flex-row items-center justify-end sm:mt-0 sm:ml-2">
            <mat-form-field *ngIf="Leaderboard?.noOfRounds > 1" class="fuse-mat-no-subscript pb-2 w-full sm:w-36">
                <mat-select (selectionChange)="changeRound($event)" [(value)]="flightRound">
                    <mat-option [value]="0">All Rounds</mat-option>
                    <mat-option *ngFor="let round of tRounds" [value]="round.Value">
                        {{ round.Text }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="fuse-mat-no-subscript pb-2 w-full sm:w-48 sm:inline md:hidden">
                <input (input)="filterByQuery(query.value)" placeholder="Search by Name" matInput #query />
            </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row items-center justify-center mb-1">

            <div id="leaderboard" class="mt-2">


                <ul class="responsive-table flex flex-auto justify-between gap-8">
                    <li class="table-header" style="flex-basis: 100%; flex-direction: column;" *ngFor="let item of allTeams; let last = last">
                        <div class="col col-1">{{ item.name }}</div>
                        <!-- Render "VS" text only if it's not the last item -->
                        <div class="col col-2" *ngFor="let player of item?.members">
                            <div class="col col-2">
                                {{ player.name }}
                                <div class="text-xs flex items-center">
                                    HC:{{ player.handicap }}
                                </div>
                            </div>
                        </div>
                    </li> 
                </ul>





            </div>

        </div>

    </div>
</div>