.service-card-content {
  .service-card-container {
    padding: 20px;
    .service-card {
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: default;
      background-color: white;
      padding: 20px;
      img {
        height: 200px;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
        text-align: center;
      }
      &:hover {
        transform: translate(0, -8px);
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
      }
    }
  }
}
.hover {
  box-shadow: -8px 7px 19px -1px #dadee8;
  border-color: #db0707;
  border-style: solid;
  border-width: 0px 0px 0px 11px;
  &:hover {
    transition: all 0.4s ease;
    transform: translateY(-0.24em);
  }
}
.hovera {
  box-shadow: -8px 7px 19px -1px #dadee8;
  border-color: #066c1e;
  border-style: solid;
  border-width: 0px 0px 0px 11px;
  &:hover {
    transition: all 0.4s ease;
    transform: translateY(-0.24em);
  }
}
.hoverb {
  box-shadow: -8px 7px 19px -1px #dadee8;
  border-color: #190cb0;
  border-style: solid;
  border-width: 0px 0px 0px 11px;
  &:hover {
    transition: all 0.4s ease;
    transform: translateY(-0.24em);
  }
}

.pageHead {
  h3 {
    color: #a2a2a2;
    mat-icon {
      margin: 0 10px 0 0;
    }
    span {
      margin: 0 10px;
    }
    .sep {
      color: #3f50b5;
    }
  }
  h1 {
    color: #3f50b5;
  }
}

.cardInner {
  display: grid;
  grid-template-areas: "header header header" "side content content" "footer footer footer";
  grid-template-rows: auto auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

table {
  width: 100%;
}

.service-header {
  height: 350px;
  width: 100%;
  padding: 30px 0 0 0;
  grid-area: side;

  .action {
    padding: 10px 0;
    button {
      margin-right: 10px;
    }
  }

  .content {
    background-color: white;
  }
  h3 {
    margin: 0;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
  mat-divider {
    border-top-color: white;
  }
  .leaderStats {
    margin: 5px;
    .mat-icon {
      position: relative;
      top: 5px;
      right: 10px;
      cursor: pointer;
    }
    .mat-button {
      margin: 5px;
      .numberText {
        font-size: 24px;
        padding: 0 5px;
      }
    }
  }

  .leaderboardLink .mat-icon {
    position: relative;
    top: 5px;
    left: 10px;
    cursor: pointer;
  }
}

.profileDash {
    /* background-color: #f4f4f4; */
    padding: 6px;
    width: -webkit-fill-available !important;
    /* border-radius: 10px; */
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 10px;
    /* width: 56%; */

  h2 {
    color: #78912c;
    text-transform: uppercase;
  }
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

div {
  display: block;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 20px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
div {
  display: block;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: border-box;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #deebfd;
  box-shadow: -8px 12px 18px 0 #dadee8;
}
body,
html {
  transition: all 0.5s;
  background-color: #f0f3fb;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.card-title {
  margin-bottom: 0.75rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.row {
  margin-bottom: 0 !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.col-auto {
  padding-left: 15px;
  padding-right: 15px;
}

.responsive-table {
  margin-left: 20px;
  margin-right: 14px;
  li {
    border-radius: 11px;
    padding: 22px 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }
  .table-header {
      background-color: #87beed;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      color: white;
      font-weight: bold;
      font-size: larger;

  }
  .table-row {
    background-color: #ffffff;
    display: flex !important;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 30%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 15%;
  }
  .col-5{
    flex-basis: 20%;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .table-row{
      
    }
    li {
      display: block;
    }
    .col {
      
      flex-basis: 100%;
      
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
*,
:after,
:before {
  box-sizing: border-box;
}
div {
  display: block;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.h1,
h1 {
  font-size: 2.5rem;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
*,
:after,
:before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
  width: 100%;
}
.box {
  display: flex !important;

  margin: 13px;
}
.centerDiv {
  display: block !important;
}
.box > * {
  flex: 1 1 100px;
  margin: 10px;
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}
