<div class="flex flex-row">
    <div class="mt-2 mr-8 flex flex-col flex-auto p-6  overflow-hidden">
        <div>
            <div cdkDropListGroup id="manageFlights" class="m-4">
                <ng-container>
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                        <ng-container *ngFor="let team of selectedTeams; let i = index">
                            <div class="mb-10 w-full min-w-0 rounded-2xl">
                                <div class="flex items-center rounded-tr-lg rounded-tl-lg w-full teamA-center"
                                    [style.backgroundColor]="team.color">
                                    <div class="sm:col-span-2 px-2 py-1">
                                        <mat-form-field class="fuse-mat-no-subscript w-full">
                                            <input value="{{ team['name']}}" matInput
                                                id="team_{{i}}_name" #query
                                                placeholder="Team Name" />
                                        </mat-form-field>
                                    </div>
                                    <div class="sm:col-span-1 px-2 py-1">
                                        <mat-form-field class="color fuse-mat-no-subscript w-full">
                                            <input matInput type="color"
                                                (input)="onColorChange( $event,team.id)"
                                                value="{{team['color']}}" id="team_{{i}}_color"
                                                #query />
                                        </mat-form-field>
                                    </div>
                                    <div class="flex">
                                        <button mat-flat-button color="primary"
                                            (click)="editTeam(team.id, i)">
                                            <mat-icon
                                                [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                            <span>Add</span>
                                        </button>
                                        <button class="pl-2" (click)="deleteTeam(team.id)"
                                            [matTooltip]="'Delete Team'">
                                            <mat-icon class="icon-size-7"
                                                [svgIcon]="'heroicons_solid:delete'"
                                                color="warn"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div cdkDropList [cdkDropListData]="team"
                                    (cdkDropListDropped)="drop($event)"
                                    class="sm:col-span-2 md:col-span-4 lg:col-span-4 flex flex-col rounded-lg flex-auto bg-card">
                                    <div class="moveableList">
                                        <div class="moveableFlights text-gray-50 p-4"
                                            *ngFor="let item of team.members; let j = index" cdkDrag
                                            [cdkDragData]="item"
                                            [style.backgroundColor]="team.color">
                                            <table class="overflow-y-visible w-full">
                                                <tr>
                                                    <td width="20%">
                                                        <span class="font-medium text-base">{{
                                                            item.firstName | uppercase}}</span>
                                                    </td>
                                                    <td width="20%">
                                                        <span class="font-medium text-base">{{
                                                            item.lastName | uppercase}}</span>
                                                    </td>
                                                    <td width="10%">
                                                        <span class="font-medium text-base">{{
                                                            item.handicap }}</span>
                                                    </td>
                                                    <td width="20%">
                                                        <span class="font-medium text-base">{{
                                                            item.playerCategory }}</span>
                                                    </td>
                                                    <td width="10%" style="text-align: right;">
                                                        <span>
                                                            <mat-icon aria-hidden="false"
                                                                aria-label="Dragable"
                                                                class="remove primary-foreground"
                                                                (click)="removeTeamPlayer(item.id, team.id)">delete_forever</mat-icon>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<div class="flex justify-center my-3">
    <button mat-raised-button color="primary" (click)="saveTournamentTeams()">
        Save Changes
    </button>
</div>