table {
  width: 100%;
  font-weight: 500;

  td {

    .mat-icon {
      color: #2b8e2a;
      cursor: pointer;
    }

    .moveableBox td {
      width: 25%;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
