<div>
    <section fxLayout="column wrap" class="w-160" fxLayoutAlign="center center">

        <mat-card-header>
            <mat-card-title class="mat-button mat-accent">Tour Form</mat-card-title>
        </mat-card-header>
        <form [formGroup]="tourForm" autocomplete="off" novalidate (ngSubmit)="createTour(tourForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center">
            <mat-card-content class="flex flex-col min-w-64 justify-center items-center">
                <div
                    class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <div class=" flex items-center justify-center h-40 w-40">
                        <div>
                            <input id="avatar-file-input" formControlName="logo"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                [multiple]="false" [accept]="'image/jpeg, image/png, image/jpg'"
                                (change)="uploadAvatar(avatarFileInput.files)" #avatarFileInput>
                            <label
                                class="flex items-center justify-center w-0 h-0 rounded-full cursor-pointer hover:bg-hover"
                                for="avatar-file-input" matRipple>
                                <mat-icon class="icon-size-12" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                    </div>
                    <img class="object-cover w-full h-full" *ngIf="pictureUrl" [src]="pictureUrl">
                </div>

                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input matInput type="text" placeholder="Tour Name" formControlName="title" />

                    <mat-error *ngIf="hasError('title', 'required')">Title is required</mat-error>
                    <mat-error *ngIf="hasError('title', 'maxlength')">You have more than 100 characters</mat-error>
                    <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" (focus)="picker.open()"
                       formControlName="startDate" placeholder="start date"
                        required />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

                <mat-form-field class="fuse-mat-no-subscript w-full mt-2">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker2" [min]="minDate" [max]="maxDate" (focus)="picker2.open()"
                       formControlName="endDate" placeholder="end date"
                        required />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

            </mat-card-content>

            <mat-card-actions class="mt-4" align="center">
                <button class="mx-2" mat-raised-button color="primary" [disabled]="!tourForm.valid" cdkFocusInitial>
                    Save
                </button>
                <button type="button" mat-raised-button color="warn" (click)="onNoClick()">
                    Cancel
                </button>
            </mat-card-actions>
        </form>

    </section>
</div>