table {
    width: 100%;

    .white {
        color: white;
    }
    td {
        font-weight: 600;
        text-align: left;
        width: 33.33%;
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-icon.disabled {
    color: #d3d3d3;
    cursor: default;
}
.mat-icon.active {
    color: greenyellow;
    cursor: pointer;
}

.membersList {
    background-color: #1756c6;
    border-radius: 5px;
    width: fit-content;
    color: white;
    padding: 8px;
    /* margin-bottom: 1px; */
    margin: 6px;
    font-weight: 500;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-grow: 3;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

.partial {
    background-color: #f66d00!important;
}

.full {
    background-color: #479944!important;
}