<div mat-dialog-content>
  <div
    style="text-align: right; padding-top: 10px; color: red; cursor: pointer"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Dragable"
      class="remove"
      (click)="downloadAsPDF()"
      >picture_as_pdf</mat-icon
    >
  </div>
  <table id="pdfTable" mat-table [dataSource]="dataSource" matSort>
    <!-- Serial Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Sr.</th>
      <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Password</th>
      <td mat-cell *matCellDef="let row">{{ row.password }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
