<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto">
    <div class="relative flex-0 pt-2 pb-2 px-4 overflow-hidden">
        <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-2 w-full min-w-0 logo">
            <div class="z-10 col-span-1 h-25 relative w-full flex flex-col items-center justify-center logo-1">
                <img style="width: 17rem" src="assets/images/logo/leaderboradlogo.png" alt="Logo" />
            </div>
            <div class="flex flex-row justify-center sm:hidden md:hidden webLogo">
                <!-- <div class="py-0.5 ml-1 w-44  flex text-center justify-center rounded-lg shadow-2xl bg-card text-md font-extrabold '"
                    style="color: #004987">
                    Powered by Gemgolfers
                </div> -->
            </div>
            <div class="z-10 col-span-1 pt-4 relative flex flex-col text-center items-center">
                <h2 class="text-3xl md:pt-4 sm:pt-10 font-extrabold text-neutral-50 font-semibold">
                    {{ Leaderboard?.TournamentQL[0].title }}
                </h2>
                <div class="mt-1 text-2xl text-neutral-50  tracking-tight leading-tight text-center">
                    Leaderboard
                </div>
            </div>

            <div class="col-span-1 logo-3 w-32 ml-44 h-25 flex items-center justify-center overflow-hidden">

                <img class="object-cover" src="assets/images/logo/{{ clubLogo }}" alt="Club-Logo" />
            </div>

            <div class="flex flex-col justify-center sm:inline md:hidden">
                <div class="flex flex-row justify-evenly">
                    <div class="flex flex-col text-center">
                        <span class="leading-none text-sky-400 text-xl font-semibold">{{
                            Leaderboard?.TournamentQL[0].noOfRounds }}</span>
                        <span class="leading-none mt-1  text-neutral-50 font-semibold">No.of Rounds</span>
                    </div>
                    <div class="flex flex-col text-center">
                        <span class="leading-none text-sky-400 text-1xl font-semibold">{{
                            Leaderboard?.TournamentQL[0].activeRound }}</span>
                        <span class="leading-none mt-1  text-neutral-50 font-semibold">Active Round</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!isLoading" class="mt-8">
        <ng-container [ngSwitch]="matchFormat">
            <ng-container *ngSwitchCase="'STROKE_PLAY'">
                <app-stroke-play [data]="Leaderboard"></app-stroke-play>
            </ng-container>
            <ng-container *ngSwitchCase="'BEST_TWO'">
                <app-stroke-play [data]="Leaderboard"></app-stroke-play>
            </ng-container>
            <ng-container *ngSwitchCase="'BEST_THREE'">
                <app-stroke-play [data]="Leaderboard"></app-stroke-play>
            </ng-container>
            <ng-container *ngSwitchCase="'LIV'">
                <app-stroke-play [data]="Leaderboard"></app-stroke-play>
            </ng-container>
            <ng-container *ngSwitchCase="'STABLEFORD'">
                <app-stable-ford [data]="Leaderboard"></app-stable-ford>
            </ng-container>
            <ng-container *ngSwitchCase="'MODIFIED_STABLEFORD'">
                <app-stable-ford [data]="Leaderboard"></app-stable-ford>
            </ng-container>
            <ng-container *ngSwitchCase="'SPLIT_SIXES'">
                <app-stable-ford [data]="Leaderboard"></app-stable-ford>
            </ng-container>
            <ng-container *ngSwitchCase="'MATCH_PLAY'">
                <app-match-play [data]="Leaderboard"></app-match-play>
            </ng-container>
            <ng-container *ngSwitchCase="'NASSAU'">
                <app-nassau [data]="Leaderboard"></app-nassau>
            </ng-container>
            <ng-container *ngSwitchCase="'TEXAS_SCRAMBLE'">
                <app-scramble [data]="Leaderboard"></app-scramble>
            </ng-container>
            <ng-container *ngSwitchCase="'2_BALL_SCRAMBLE'">
                <app-scramble [data]="Leaderboard"></app-scramble>
            </ng-container>
            <ng-container *ngSwitchCase="'3_BALL_SCRAMBLE'">
                <app-scramble [data]="Leaderboard"></app-scramble>
            </ng-container>
            <ng-container *ngSwitchCase="'4_BALL_SCRAMBLE'">
                <app-scramble [data]="Leaderboard"></app-scramble>
            </ng-container>
            <ng-container *ngSwitchCase="'SHAMBLES'">
                <app-scramble [data]="Leaderboard"></app-scramble>
            </ng-container>
        </ng-container>

   
    </div>

    <div class="outer-spinner" *ngIf="isLoading">
        <!-- <img
            src="assets/images/logo/logo.svg"
            alt="Fuse logo"> -->
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>