<!-- <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

           
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Sign up For {{tournament.title}}</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Powered by Gemgolfers</div>
                
            </div>

         
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

           
            <form
                class="mt-8"
                [formGroup]="signUpForm"
                #signUpNgForm="ngForm">

               
                <mat-form-field class="w-full">
                    <mat-label>First Name</mat-label>
                    <input
                        id="firstname"
                        matInput
                        [formControlName]="'firstname'">
                    <mat-error *ngIf="signUpForm.get('firstname').hasError('required')">
                        First name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Last Name</mat-label>
                    <input
                        id="lastname"
                        matInput
                        [formControlName]="'lastname'">
                    <mat-error *ngIf="signUpForm.get('lastname').hasError('required')">
                        Last name is required
                    </mat-error>
                </mat-form-field>

                
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field class="w-full">
                    <mat-label>Phone Number</mat-label>
                    <input
                        id="phone"
                        matInput
                        [formControlName]="'phone'">
                    <mat-error *ngIf="signUpForm.get('phone').hasError('required')">
                        Phone is required
                    </mat-error>
                    
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Handicap</mat-label>
                    <input
                        id="handicap"
                        matInput
                        [formControlName]="'handicap'">
                    <mat-error *ngIf="signUpForm.get('phone').hasError('required')">
                        Phone is required
                    </mat-error>
                    
                </mat-form-field>

              
              
                <mat-form-field class="w-full">
                    <mat-label>Company</mat-label>
                    <input
                        id="company-confirm"
                        matInput
                        [formControlName]="'company'">
                </mat-form-field>

                
                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'agreements'">
                        <span>I agree to the</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Terms of Service
                        </a>
                        <span>and</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']">Privacy Policy
                        </a>
                    </mat-checkbox>
                </div>

                
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Create your free account
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden dark:border-l"
        style="background-color: #004987; color: white ;"
    >
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none ">
                <div>Welcome to</div>
                <div>Gemgolfers</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 ">
                Gemgolers helps Golf Players to organize their Golf and add some
                extra abilities to enjoy the game.
            </div>
            <div class="flex items-center mt-8">
                <div class="font-medium tracking-tight ">
                    More than 17k people joined us, it's your turn
                </div>
            </div>
        </div>
    </div>
</div> -->
