<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-card"
>
    <div class="flex items-center bg-card h-full">
        <div class="h-full">
            <img class="h-full" src="assets/images/logo/GymKhanaHeader.jpg" />
        </div>
        <!-- <div class="z-10 relative w-full max-w-2xl">
<div class="text-7xl font-bold leading-none">
    <div>Welcome to</div>
    <div>Gemgolfers</div>
</div>
<div class="mt-6 text-lg tracking-tight leading-6">
    Gemgolers helps Golf Players to organize their Golf and add some
    extra abilities to enjoy the game.
</div>
<div class="flex items-center mt-8">
    <div class="font-medium tracking-tight">
        More than 17k people joined us, it's your turn
    </div>
</div>
</div> -->
    </div>
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full py-2 md:w-1/2 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
    >
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <div
                class="mt-2 text-3xl font-extrabold tracking-tight leading-tight"
            >
                Sign up Form
            </div>
            <div
                class="mt-2 text-4xl font-extrabold tracking-tight leading-tight"
            >
                {{ this.tournamentQL?.title }}
            </div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Powered by Gemgolfers</div>
            </div>

            <!-- <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert> -->

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'"
            >
                {{ alert.message }}
            </fuse-alert>
            <form *ngIf="!showAlert" class="mt-8" [formGroup]="signUpForm">
                <mat-form-field class="w-full">
                    <mat-label>First Name</mat-label>
                    <input
                        id="firstName"
                        matInput
                        [formControlName]="'firstName'"
                    />
                    <mat-error *ngIf="hasError('firstName', 'required')">
                        First name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Last Name</mat-label>
                    <input
                        id="lastName"
                        matInput
                        [formControlName]="'lastName'"
                    />
                    <mat-error *ngIf="hasError('lastName', 'required')">
                        Last name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-error *ngIf="hasError('email', 'required')">
                        Email address is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Phone </mat-label>
                    <input id="phone" matInput [formControlName]="'phone'" />
                    <mat-error *ngIf="hasError('phone', 'required')">
                        Phone is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Membership No </mat-label>
                    <input
                        id="membership"
                        matInput
                        [formControlName]="'membership'"
                    />
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Category</mat-label>

                    <mat-select
                        formControlName="category"
                        placeholder="Player Category"
                        class="mr-1.5"
                    >
                        <mat-option
                            *ngFor="let cat of playerCategories"
                            [value]="cat.name"
                        >
                            <span class="flex items-center">
                                <span class="ml-5">{{ cat.name }}</span>
                            </span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('category', 'required')">
                        Category is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Handicap</mat-label>
                    <input
                        type="number"
                        id="handicap"
                        matInput
                        [formControlName]="'handicap'"
                    />
                    <mat-error *ngIf="hasError('handicap', 'required')">
                        Handicap is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Club</mat-label>
                    <input
                        matInput
                        formControlName="club"
                        [placeholder]="'Club'"
                        [readonly]="true"
                        [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                        autoActiveFirstOption
                        #auto="matAutocomplete"
                        [displayWith]="displayFn"
                    >
                        <mat-option
                            *ngFor="let option of filteredClubOptions | async"
                            [value]="option"
                        >
                            {{ option.name }}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="hasError('club', 'required')">
                        Club is required
                    </mat-error>
                </mat-form-field>

                <div class="inline-flex items-end w-full mt-1.5">
                    <mat-checkbox [color]="'primary'">
                        <span>I agree to the</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']"
                            >Terms of Service
                        </a>
                        <span>and</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['./']"
                            >Privacy Policy
                        </a>
                    </mat-checkbox>
                </div>

                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.invalid"
                    (click)="signUp()"
                >
                    <span *ngIf="!signUpForm.disabled"> Save </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </form>
        </div>
    </div>
</div>
