body { background-color: #C8C8C8; }

.leaderboard-wrapper {
    width: 100%;
    margin: 20px;
}

.leaderHead {
    background: #E2E2E4;
    padding: 10px;

    h1 { margin: 0; font-size: 3em; }
    h2 { color: #406325; }
}

.leaderSubHead {
    background: #ffffff;
    color: #416326;
    padding: 10px;

    h1 { margin: 0; font-size: 3em; }
    h2 { color: #406325; }
}

div {
    .matToolbar {
        background: #E2E2E4;
    }
}

.example-icon {
    padding: 0 14px;
  }
  

.flex-spacer {
    flex: 1 1 auto;
  }
  hr.new4 {
    border: 1px solid red;
  }

.custom-header .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
hr{
    border: 1px solid red;
}

#leaderboard {
    table {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        border-collapse: collapse;
        background-color: #ffffff;
        
        td, th {
            border: 1px solid #ddd;
            padding: 10px;
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            color: #4e4e4e;
            
            span {
                margin: 0 5px;
                text-transform: uppercase;
            }

            span.smaller {
                color: #787b78;
                font-size: 18px;
            }

            .mat-icon {
                cursor: pointer;
            }

            span.person {
                color: #164A72;
            }
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: center;
            background-color: #406325;
            color: white;
            font-size: 20px;
            letter-spacing: .5px;
        }

        th.cutOff {
            background-color: #bd130f;
        }

        tr:nth-child(even) {background-color: #ffffff;}

        tr:hover {background-color: #ddd;}
    }
}

.mat-accordion {
    display: none;
}


.line-1{
    width: 87px;
}

.line-2{
    width: 750px;
}

.line-3{
    width: 118px;
}
.line-4{
    width: 107px;
}
.line-5{
    min-width: 15px;
}
.line-6{
    min-width: 15px;
}
.line-7{
    min-width: 37px;
}





@media screen and (max-width: 1000px) {
    .webLogo {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {
    .mat-toolbar-row {
        flex-direction: column!important;
        white-space: normal!important;
        height: auto!important;
    }

    table th, table td, table td span.smaller {
        font-size: 12px !important;
    }

    .leaderboard-wrapper {

        margin: 0;
    }

    .mat-accordion {
        display: inline;
    }

    .hideMe {
        display: none!important;
    }
}