
<div class="flex flex-col min-w-0 overflow-y-auto">
    <div id="as" *ngIf="!isLoading" class="mt-8">
        <ng-container [ngSwitch]="matchFormat">
            <ng-container *ngSwitchCase="'STROKE_PLAY'">
                <app-mini-stroke-play [data]="Leaderboard"></app-mini-stroke-play>
            </ng-container>
            <ng-container *ngSwitchCase="'STABLEFORD'">
                <app-mini-stable-ford [data]="Leaderboard"></app-mini-stable-ford>
            </ng-container>
            <ng-container *ngSwitchCase="'MATCH_PLAY'">
                <app-mini-match-play [data]="Leaderboard"></app-mini-match-play>
            </ng-container>
            <ng-container *ngSwitchCase="'TEXAS_SCRAMBLE'">
                <app-mini-scramble [data]="Leaderboard"></app-mini-scramble>
            </ng-container>
            <ng-container *ngSwitchCase="'2_BALL_SCRAMBLE'">
                <app-mini-scramble [data]="Leaderboard"></app-mini-scramble>
            </ng-container>
            <ng-container *ngSwitchCase="'3_BALL_SCRAMBLE'">
                <app-mini-scramble [data]="Leaderboard"></app-mini-scramble>
            </ng-container>
        </ng-container>
    </div>

 
</div>