table {
    width: 100%;

    td {

      .mat-icon {
        color: #2b8e2a;
        cursor: pointer;
      }

      .moveableBox td {
        width: 25%;
      }
    }

    tr {
        cursor: pointer;
    }
  }

  .selectedPlayer {
    background-color: #dcdcdc;
}

  .example-container {
    height: 400px;
    overflow: auto;
  }

div span {
    padding: 5px;
}
mat-form-field, button {
    margin-right: 2%;
}
mat-card-title{
    text-align: center;
}
mat-radio-button {
    margin-right: 20px;
}
#plalyerInfoBox {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
}