<div
class="mb-20"
fxFlex
fxLayout="row"
fxLayout.lt-md="column"
fxLayoutGap="5px"
>
<div >
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">Name</p>
          <h4 class="mb-0">{{ this.CourseName  }}</h4>
        </div>
        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div  >
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">Location</p>
          <h4 class="mb-0">{{ this.CourseCity }},{{this.CourseCountry}}</h4>
        </div>

        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div 33" *ngIf="par5Avg">
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">On Par 5</p>
          <h4 class="mb-0">{{ par5Avg | number: "1.2-2" }}</h4>
        </div>
        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div> -->
</div>
<div
class="mb-20"
fxFlex
fxLayout="row"
fxLayout.lt-md="column"
fxLayoutGap="5px"
>
<div >
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">Par</p>
          <h4 class="mb-0">{{ this.par | number: "1.1-1" }}</h4>
        </div>
        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div  >
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">Holes</p>
          <h4 class="mb-0">{{ this.NoOfHoles | number: "1.2-2" }}</h4>
        </div>

        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div
class="mb-20"
fxFlex
fxLayout="row"
fxLayout.lt-md="column"
fxLayoutGap="5px"
>
<div >
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">SlopeRating</p>
          <h4 class="mb-0">{{ this.slopeRating | number: "1.1-1" }}</h4>
        </div>
        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div  >
  <div class="card mini-stats-wid">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          <p class="text-muted font-weight-medium">CoureRating</p>
          <h4 class="mb-0">{{ this.courseRating | number: "1.2-2" }}</h4>
        </div>

        <div
          class="
            mini-stat-icon
            avatar-sm
            rounded-circle
            align-self-center
          "
        >
          <span class="avatar-title primary-background">
            <mat-icon class="nav-icon">golf_course</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>