
<div class="mb-20" fxLayout="row" fxLayoutGap="20px grid">
  <div fxFlex="80">
    <button *ngIf="false" mat-raised-button color="primary" (click)="calculateHandicap()" [disabled]="playerList.length == 0">Update Handicap</button>
  </div>
  <div fxFlex="20">
    <mat-form-field appearance="outline">
      <mat-select placeholder="Select Handicap System" (selectionChange)="switchHandicapSystem($event.value)" [(value)]="selected">
        <mat-option value="congo">CONGU</mat-option>
        <mat-option value="whs">WHS</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource" matSort>

    <!-- Serial Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Sr. </th>
        <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Player Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
  </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="oldhandicap">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Handicap </th>
      <td mat-cell *matCellDef="let row"> {{row.oldhandicap | number : '1.1-1'}} </td>
    </ng-container>

    <ng-container matColumnDef="handicap">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> New Handicap </th>
      <td mat-cell *matCellDef="let row"> {{row.handicap == -1 ? "-" : row.handicap | number : '1.1-1'}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="updated">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated At </th>
      <td mat-cell *matCellDef="let row"> {{row.updatedAt | date}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
<mat-paginator [pageSize]="20" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>