<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
    <!-- Edit mode -->
    <mat-drawer-container class="flex-auto sm:h-full">
        <!-- Contact form -->
        <mat-drawer class="sm:w-96 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="true" #drawer>
            <!-- Header -->
            <div class="flex items-center justify-between m-8 mr-6 sm:my-10">
                <!-- Title -->
                <div class="text-4xl font-extrabold tracking-tight leading-none">
                    Setup Daily Round
                </div>
                <!-- Close button -->
                <div class="lg:hidden">
                    <button mat-icon-button (click)="drawer.close()">
                        <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex flex-col divide-y border-t border-b">
                <ng-container>
                    <div class="flex px-8 py-5 cursor-pointer hover:bg-gray-100 'bg-primary-50">
                        <mat-icon class="text-primary dark:text-primary-500"
                            [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                        <div class="ml-3">
                            <div class="font-medium leading-6 text-primary dark:text-primary-500">
                                Daily Rounds
                            </div>
                            <div class="mt-0.5 text-secondary">
                                Manage your Daily Rounds by adding them
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>
        <div class="flex-auto px-6 pt-9 pb-12 md:p-8 md:pb-12 lg:p-12">
            <div class="flex items-center">
                <!-- Drawer toggle -->
                <button class="lg:hidden -ml-2" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>

                <!-- Panel title -->
                <div class="ml-2 lg:ml-0 text-3xl font-bold tracking-tight leading-none">
                    Setup
                </div>
            </div>
            <div class="w-full max-w-3xl">
                <div class="text-xl mt-8">Daily Round</div>
                <div class="text-secondary">
                    Following information is mandatory, be careful!
                </div>
                <form [formGroup]="starterForm" autocomplete="off" novalidate>
                    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
                        <div class="sm:col-span-4">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Hole-Set</mat-label>
                                <mat-select (selectionChange)="changeFlight($event)" placeholder="Select Course Holeset"
                                    formControlName="holeSets">
                                    <mat-option *ngFor="
                                            let course of courseHoleSetNames
                                        " [value]="
                                            course.holeSets +
                                            '_' +
                                            course.inverted
                                        ">{{ course.displayName }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-2">
                            <mat-form-field class="zero-padding fuse-mat-no-subscript w-full">
                                <mat-label>Starting Time</mat-label>
                                <input matInput atp-time-picker formControlName="startingTime"
                                    placeholder="Select Time" />
                                <mat-icon class="icon-size-4.5" [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                                <mat-error>The input is required.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Date</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="roundDate"
                                    placeholder="Start Date" required />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error>This field is required</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <div class="sm:col-span-2">
                            <mat-form-field
                                class="fuse-mat-no-subscript w-full"
                            >
                                <mat-select
                                    placeholder="Round Tee"
                                    formControlName="roundTee"
                                >
                                    <mat-option value="AMATEURS"
                                        >Amateurs</mat-option
                                    >
                                    <mat-option value="LADIES"
                                        >Ladies</mat-option
                                    >
                                    <mat-option value="SENIORS"
                                        >Seniors</mat-option
                                    >
                                    <mat-option value="PROFESSIONALS"
                                        >Professionals</mat-option
                                    >
                                    <mat-option value="VETERANS"
                                        >Veterans</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Handicap System</mat-label>
                                <mat-select placeholder="Handicap System.." formControlName="handicapSystem">
                                    <mat-option value="true">WHS</mat-option>
                                    <mat-option value="false">CONGU</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Round Category</mat-label>
                                <mat-select (selectionChange)="changeRound($event)" placeholder="Round Category.."
                                    formControlName="roundCategory">
                                    <mat-option value="false">Daily Round</mat-option>
                                    <mat-option value="true">Tournament / League Round</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showTournamentTitle" class="sm:col-span-2">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Tournament / League Name</mat-label>
                                <input matInput placeholder="Tournament / League Name" formControlName="title" />
                            </mat-form-field>
                        </div>

                        <!-- <mat-form-field class="mb-20 separator" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" [ngStyle]="{'padding': '15px 0'}">
              <input matInput formControlName="addPlayer">
              <button mat-raised-button color="primary" (click)="addPlayer()">
                Player</button> &nbsp; <button mat-raised-button color="primary" (click)="searchPlayer()">Add Existing Player</button>
            </mat-form-field> -->

                        <div class="sm:col-span-3">
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-label>Search Player</mat-label>
                                <input matInput #query placeholder="Search Players"
                                    (keyup.enter)="searchPlayer(query.value)" />
                            </mat-form-field>
                        </div>
                        <div class="sm:col-span-1 flex items-center">
                            <!-- <mat-icon
                                        class="buttonClass mr-3"
                                        _ngcontent-cne-c258=""
                                        role="img"
                                       
                                        aria-hidden="true"
                                        data-mat-icon-type="font"
                                        >search</mat-icon
                                    > -->
                            <button mat-raised-button color="primary" (click)="searchPlayer(query.value)">
                                Search Player
                            </button>
                            <!-- <button type="button" mat-raised-button color="primary" (click)="searchPlayer(query.value)" [disabled]="query.value.length == 0" style="margin-top: 13px;">Search</button> &nbsp; -->
                            <!-- <mat-icon
                                        class="buttonClass2"
                                        _ngcontent-cne-c258=""
                                        role="img"
                                        (click)="addPlayer()"
                                        aria-hidden="true"
                                        data-mat-icon-type="font"
                                        >add</mat-icon
                                    > -->
                            <!-- <button
                                class="ml-4"
                                mat-raised-button
                                (click)="addPlayer()"
                                [color]="'accent'"
                            >
                                Add Player
                            </button> -->
                            <!-- <button type="button" mat-raised-button color="primary" (click)="addPlayer()" style="margin-top: 13px;">Add New Player</button> -->
                        </div>

                        <div class="sm:col-span-4 p-6  bg-card shadow rounded-2xl" *ngIf="membersSource">
                            <table mat-table #msort="matSort" [dataSource]="membersSource" matSort>
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Name
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.firstName | uppercase }}
                                        {{ element.lastName | uppercase}}
                                    </td>
                                </ng-container>

                                <!-- Handicap Column -->
                                <ng-container matColumnDef="handicap">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Handicap
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.handicap }}
                                    </td>
                                </ng-container>

                                <!-- Category Column -->
                                <ng-container matColumnDef="category">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Category
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{
                                        element.playerCategory == "Seniors"
                                        ? "Senior Amateurs"
                                        : element.playerCategory
                                        }}
                                    </td>
                                </ng-container>

                                <!-- Player Tee -->
                                <ng-container matColumnDef="tee">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                        Tee
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-select placeholder="Player Tee" (selectionChange)="
                                                selectedTee($event, element.id)
                                            " [(value)]="element.tee_id" style="width: 130px">
                                            <mat-option *ngFor="let tee of tees" [value]="tee.tee_id">
                                                <span class="flex items-center">
                                                    <span class="ml-5">{{
                                                        tee.name
                                                        }}</span>
                                                </span>
                                            </mat-option>
                                        </mat-select>
                                    </td>
                                </ng-container>

                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="delete">
                                    <th [ngStyle]="{ 'text-align': 'right' }" mat-header-cell *matHeaderCellDef>
                                        Remove
                                    </th>
                                    <td mat-cell *matCellDef="let row" [ngStyle]="{ 'text-align': 'right' }">
                                        <span><mat-icon aria-hidden="false" aria-label="Dragable"
                                                class="remove primary-foreground"
                                                (click)="removePlayer(row.id)">delete_forever</mat-icon>
                                        </span>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="membersColumns"></tr>
                                <tr mat-row *matRowDef="
                                        let row;
                                        columns: membersColumns
                                    "></tr>
                            </table>
                        </div>
                    </div>
                    <div class="my-4 border-t"></div>
                    <div class="flex items-center justify-end">
                        <button type="button" mat-raised-button color="accent" (click)="onCancel()">
                            Cancel
                        </button>
                        <button class="ml-2" type="button" mat-raised-button color="primary"
                            [disabled]="!starterForm.valid" (click)="createStarter(starterForm.value)">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-drawer-container>
</div>