<div id="overlay" *ngIf="isPorcessing">Loading...</div>
<div class="container">
  <div class="twoBox">
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex [ngStyle]="{'text-align':'center', 'margin-bottom':'10px'}">
        <button mat-raised-button mat-button color="accent" (click)="redirectToDetail()">Details</button> &nbsp; 
        <button mat-raised-button mat-button color="accent" (click)="redirectToflightManagement()">Groups Management</button> &nbsp; 
        <button mat-raised-button mat-button color="accent" (click)="redirectToScores()">Scores</button> &nbsp; 
        <button mat-raised-button mat-button color="accent" (click)="viewIncompleteFlights()">Incomplete Groups</button> &nbsp; 
      </div>
    </div>
    <div *ngIf="roundFlights.length > 0">
      <div id="playerList" class="primary-background">
      <span>PLAYERS LIST ( ARRIVED <span ngClass="numbers">{{totalArrived}}</span> / NOT ARRIVED <span [ngStyle]="{'font-size':'24px', 'color': '#ff4081'}">{{totalNotArrived}}</span> )</span>
      </div>
      <div style="text-align: right;padding-top: 10px;color:red;cursor: pointer;"><mat-icon aria-hidden="false" aria-label="Dragable" class="remove" (click)="downloadAsPDF()">picture_as_pdf</mat-icon></div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Serial Column -->
        <!-- <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Sr. </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
        </ng-container> -->

        <!-- firstname Column -->
        <ng-container matColumnDef="flightNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> F/No </th>
          <td mat-cell *matCellDef="let row"> {{row.flightNo}} </td>
        </ng-container>

        <!-- firstname Column -->
        <ng-container matColumnDef="teebox">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> T/Box </th>
          <td mat-cell *matCellDef="let row"> {{row.startingHole}} </td>
        </ng-container>

        <!-- firstname Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> firstName </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
      </ng-container>

        <!-- lastname Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>

        <!-- hanidcap Column -->
        <ng-container matColumnDef="handicap">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> handicap </th>
          <td mat-cell *matCellDef="let row"> {{row.handicap}} </td>
        </ng-container>

        <!-- hanidcap Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrived? </th>
          <td mat-cell *matCellDef="let row">
              <mat-icon *ngIf="row.attendance" aria-hidden="false" aria-label="Arrived" (click)="markAttendance(row.flightId, row.id, false)" class="arrived">how_to_reg</mat-icon>
              <mat-icon *ngIf="!row.attendance" aria-hidden="false" aria-label="Arrived" (click)="markAttendance(row.flightId, row.id, true)">how_to_reg</mat-icon>
              <mat-icon aria-hidden="false" aria-label="Dragable" class="remove" (click)="moveArrivedPlayer(row.flightNo, row)">edit</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 150]"></mat-paginator>
      <!-- <div cdkDropListGroup style="margin:0 auto;">
        <div *ngFor="let items of roundFlights; let i = index;">
          <div cdkDropList [cdkDropListData]="items.MembersQL" (cdkDropListDropped)="drop($event)">
            <div class="moveableList">
              <div class="moveableBox" *ngFor="let item of items.MembersQL; let j = index;" cdkDrag [cdkDragData]="item">
                <span>{{item.PlayerQL.firstName}}</span>
                <span>{{item.PlayerQL.lastName}}</span>
                <span>{{item.PlayerQL.handicap}}</span>
                
                <mat-icon *ngIf="item.attendance" aria-hidden="false" aria-label="Arrived" (click)="markAttendance(items.id, item.playerId, false)" class="arrived">how_to_reg</mat-icon>
                <mat-icon *ngIf="!item.attendance" aria-hidden="false" aria-label="Arrived" (click)="markAttendance(items.id, item.playerId, true)">how_to_reg</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <table id="pdfTable" class="table" #pdfTable>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>handicap</th>
          <th>Groups</th>
          <th style="width: 100px">Tee Box</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tournamentMembers">
          <td>{{item.firstName| uppercase}}</td>
          <td>{{item.lastName| uppercase}}</td>
          <td>{{item.handicap}}</td>
          <td>{{item["flightNo"]}}</td>
          <td>{{item["startingHole"]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="twoBox">
    <div [ngStyle]="{'margin': '0 0 10px 0'}" *ngIf="tournamentInfo?.noOfRounds > 1" [hidden]="true">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <mat-form-field>
              <mat-select (selectionChange)="changeRound($event)" [(value)]="flightRound">
                <mat-option *ngFor="let round of tRounds" [value]="round.Value">
                {{round.Text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
    <div class="actionPane" *ngIf="activeRound <= flightRound">
      <button mat-raised-button color="primary" (click)="addFlight()">Add New Group</button>
      <button mat-raised-button color="primary" (click)="addPlayer()">Add New Player</button>
      <button mat-raised-button color="primary" (click)="addExistingPlayer()">Add Existing Player</button>
      <!-- <input type="file" (change)="onFileChange($event)" style="width:190px;" />
      <button mat-raised-button color="primary" (click)="parseFlightsData()">Import Flight</button> -->
    </div>
    <div *ngIf="selectedMembers.length > 0">
      <div cdkDropListGroup style="margin:0 auto;">
        <div *ngFor="let items of selectedMembers; let i = index;">
          <div [ngClass]="{'flightCompleted primary-background': items['completed'],'flightHeader accent-background': !items['completed']}">
            <span>Groups: {{ i + 1 }}</span>
            <span><input type="text" id="flight_{{i}}_hole" value="{{items['startingHole']}}" width="50" /></span>
            <span><input type="time" id="flight_{{i}}_time" atp-time-picker value="{{ getNextFlightTime(items) }}" width="50" /></span>
            <!-- <button mat-raised-button (click)="saveFlight(i)">Save</button> -->
            <!-- <span><mat-icon aria-hidden="false" aria-label="Dragable" class="remove" (click)="removeFlights(i)">delete_forever</mat-icon></span> -->
            <span *ngIf="items['completed']"><mat-icon aria-hidden="false">how_to_reg</mat-icon></span>
          </div>
          <div cdkDropList [cdkDropListData]="items" (cdkDropListDropped)="drop($event)">
            <div class="moveableList">
              <div class="moveableFlights"  *ngFor="let item of items; let j = index;" cdkDrag [cdkDragData]="item" [ngClass]="{'arrivedMark': item['attendance']}">
                <mat-icon aria-hidden="false" aria-label="Dragable">reorder</mat-icon>
                <span>{{item.firstName}}</span>
                <span>{{item.lastName}}</span>
                <span>{{item.handicap}}</span>
                <span *ngIf="activeRound <= flightRound"><mat-icon aria-hidden="false" aria-label="Dragable" class="remove" (click)="removePlayer(i, j)">delete_forever</mat-icon> <mat-icon aria-hidden="false" aria-label="Dragable" class="remove" (click)="movePlayer(i, j)">edit</mat-icon></span>
              </div>
            </div>
          </div>
          <br />
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" *ngIf="activeRound <= flightRound" (click)="saveFlights()">Save Changes</button>
      </div>
    </div>
  </div>
</div>