<div
  [ngStyle]="{
    'padding-bottom': '10px',
    padding: '4px 0',
    'text-align': 'center'
  }"
>
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/tournaments/view/' + this.tournamentID]"
  >
    <button mat-raised-button mat-button color="accent">
      Tournament Dashboard
    </button>
  </a>
  &nbsp;

  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/tournaments/manage/' + this.tournamentID]"
  >
    <button mat-raised-button mat-button color="accent">
      Flight Management
    </button>
  </a>
  &nbsp;
  <a
    [routerLinkActive]="'active'"
    [routerLink]="['/matchplay/' + this.tournamentID]"
  >
    <button mat-raised-button mat-button color="accent">Scores</button>
  </a>
  &nbsp;
</div>
<mat-card>
  <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
    <div  fxLayout="column">
      <h1 style="margin-top: -3px">
        Player Management: 
      </h1>

      <div class="mb-20">
        <button
          mat-raised-button
          mat-button
          color="primary"
          (click)="addPlayer()"
        >
          Add New Player
        </button>
        &nbsp;
        <button
          mat-raised-button
          mat-button
          color="primary"
          (click)="addExistingPlayer()"
        >
          Add Tournament Member
        </button>
        &nbsp; &nbsp;
      </div>

      <div
        fxFlex
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="20px"
        [ngStyle]="{ padding: '15px 0' }"
        style="margin-bottom: -35px; margin-top: -40px"
      >
        <div
          fxFlex
          fxLayout="column"
          fxLayout.lt-md="row"
          fxLayoutGap="20px"
          [ngStyle]="{ padding: '15px 0' }"
        >
          <div>
            <span
              
              fxLayoutAlign="start top"
              *ngFor="let catCount of categoryCounts"
              ><span class="catCount" *ngIf="catCount.value > 0"
                ><mat-icon>emoji_people</mat-icon>{{ catCount.name }} :
                {{ catCount.value }}</span
              ></span
            >
          </div>
        </div>

        <div
          fxFlex
          fxLayout="column"
          fxLayout.lt-md="row"
          fxLayoutGap="20px"
          [ngStyle]="{ padding: '15px 0' }"
        >
          <div>
            <span
              
              fxLayoutAlign="start top"
              *ngFor="let catCount of TMcategoryCounts"
              ><span class="catCount" *ngIf="catCount.value > 0"
                ><mat-icon>emoji_people</mat-icon>{{ catCount.name }} :
                {{ catCount.value }}</span
              ></span
            >
          </div>
        </div>
      </div>
      <!-- <div style="width: 520px;"><span class="catCount" *ngFor="let catCount of categoryCounts">{{catCount.name}} : {{catCount.value}}</span></div>	
              <div style="width: 520px;"><span class="catCount" *ngFor="let catCount of TMcategoryCounts">{{catCount.name}} : {{catCount.value}}</span></div> -->
      <div
        class="mb-20 separator"
        
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutGap="20px"
        [ngStyle]="{ padding: '15px 0' }"
      >
        <mat-card
          class="mb-20"
          
          fxLayout="column"
          fxLayout.lt-md="row"
        >
          <div
            fxLayout="row"
            fxLayout.lt-md="column"
            class="header-grey"
            fxLayoutGap="20px"
          >
            <div >
              <div fxFlexFill fxLayoutAlign="start center">
                <h2>Club Members</h2>
              </div>
            </div>
            <div >
              <div fxFlexFill fxLayoutAlign="start center">
                <mat-form-field appearance="outline">
                  <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> -->
                  <input
                    matInput
                    placeholder="Filter"
                  />
                  <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mb-20 separator">
            <div fxLayout="row" fxLayout.lt-md="column">
              <div ></div>
              <div  *ngIf="this.selection.selected.length > 0">
                <div
                  style="
                    text-align: center;
                    margin-bottom: 9px;
                    margin-top: 19px;
                  "
                >
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="saveTournamentMembers()"
                  >
                    Save Selected Members
                  </button>
                </div>
              </div>
              <div ></div>
            </div>
            <table
              style="width: 100%"
              mat-table
              [dataSource]="dataSources"
              matSort
            >
              <!-- firstname Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  firstName
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.player["firstName"] }}
                </td>
              </ng-container>

              <!-- lastname Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  lastName
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.player["lastName"] }}
                </td>
              </ng-container>
              <ng-container matColumnDef="playerCategory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  category
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.player["playerCategory"] }}
                </td>
              </ng-container>

              <!-- hanidcap Column -->
              <ng-container matColumnDef="handicap">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  handicap
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ row.player["handicap"] }}
                </td>
              </ng-container>

              <!-- hanidcap Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()"
                  >
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="
                      $event ? selection.toggle(row) : null;
                      updateCategorySelection($event, row)
                    "
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)"
                  >
                  </mat-checkbox>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator
              [pageSize]="20"
              [pageSizeOptions]="[20, 50, 100, 150]"
              [length]="aggregate"
              [pageIndex]="0"
              [pageSize]="pageSize"
              (page)="onPageFired($event)"
            >
              ></mat-paginator
            >
          </div>
        </mat-card>
      </div>
    </div>
    <div >
      <div style="/* margin-bottom: 63px; */ padding: 32px">
        <!-- <a
          *ngIf="!this.showTeams"
          href="../../../../assets/file/Sample-Flights.zip"
          download
        >
          <button
            mat-raised-button
            color="primary"
            style="margin: 0 10px 10px 0"
          >
            Download Sample file
          </button>
        </a> -->
        <a
          
          href="../../../../assets/file/Flights_Team.zip"
          download
        >
          <button
            mat-raised-button
            color="primary"
            style="margin: 0 10px 10px 0"
          >
            Download Sample file
          </button>
        </a>

        <!-- <button mat-raised-button color="primary" (click)="F:\repo\Gemgolfers\src\assets\flights - Copy.xlsx" style="margin-bottom: 10px;">Sample file</button>	 -->
        <button
          mat-raised-button
          color="primary"
          
          style="margin-bottom: 10px"
        >
          Import Players
        </button>
        <input
          type="file"
        
          style="width: 190px; margin-left: 22px"
        />
      </div>

      <mat-card class="mb-20" fxLayout="column" fxLayout.lt-md="row">
        <div
          fxLayout="row"
          fxLayout.lt-md="column"
          class="header-grey"
          fxLayoutGap="20px"
        >
          <div >
            <div fxFlexFill fxLayoutAlign="start center">
              <h2>Tournament Members</h2>
            </div>
          </div>
          <div >
            <div fxFlexFill fxLayoutAlign="start center">
              <mat-form-field appearance="outline">
                <!-- <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search"> -->
                <input
                  matInput
                  (keyup)="applyMembersFilter($event.target.value)"
                  placeholder="Filter"
                />
                <mat-icon matPrefix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>

        <table style="width: 100%" mat-table [dataSource]="dataSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>firstName</th>
            <td mat-cell *matCellDef="let element">
              {{ element.player.firstName }}
            </td>
          </ng-container>
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>lastName</th>
            <td mat-cell *matCellDef="let element">
              {{ element.player.lastName }}
            </td>
          </ng-container>

          <!-- Handicap Column -->
          <ng-container matColumnDef="handicap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Handicap</th>
            <td mat-cell *matCellDef="let element">
              {{ element.player.handicap }}
            </td>
          </ng-container>

          <!-- Handicap Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let element">
              {{ element.player.playerCategory }}
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let row">
              <span
                ><mat-icon
                  aria-hidden="false"
                  aria-label="Dragable"
                  class="remove primary-foreground"
                  (click)="removePlayer(row.id)"
                  >delete_forever</mat-icon
                >
              </span>
            </td>
          </ng-container>

          <!-- Checkbox Column -->
          <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                          </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)"
                                        [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="membersColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: membersColumns"></tr>
        </table>
        <mat-paginator
          [pageSize]="20"
          [pageSizeOptions]="[20, 50, 100, 150]"
          [length]="aggregates"
          [pageIndex]="0"
          [pageSize]="pageSizes"
          (page)="onPageFireds($event)"
        >
          ></mat-paginator
        >
      </mat-card>
    </div>
  </div>

  <!-- <mat-card
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
  <div>
    <div style="float: left">
      <button mat-raised-button color="accent" (click)="tournamentSetup()">
        Tournament Setup << Back
      </button>
    </div>
    <div style="float: right">
      <button
        mat-raised-button
        color="primary"
        (click)="flightsSetup(linearVerticalStepper, 'next')"
      >
        Next >> Flights Setup
      </button>
    </div>
    <div style="clear: both"></div>
  </div>
</mat-card> -->
</mat-card>
